USE [rdb_modern]
GO
/****** Object:  StoredProcedure [dbo].[sp_connection_test]    Script Date: 1/17/2024 8:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_connection_test]
AS 
SELECT 1
GO
