USE [rdb_modern]
GO
/****** Object:  StoredProcedure [dbo].[sp_STD_HIV_DATAMART]    Script Date: 1/17/2024 8:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_STD_HIV_DATAMART] 
@Batch_id bigint
AS


BEGIN

PRINT 'STD HIV Datamart Removal starting...'+ CONVERT(varchar(20), getdate(),120) 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STD_HIV_Datamart]') AND type in (N'U'))
DROP TABLE [dbo].[STD_HIV_Datamart]
PRINT 'STD HIV Datamart Removed...'+ CONVERT(varchar(20), getdate(),120) 
	

CREATE TABLE [dbo].[STD_HIV_DATAMART](
	[ADI_900_STATUS] [varchar](44) NULL,
	[ADI_900_STATUS_CD] [varchar](20) NULL,
	[ADM_REFERRAL_BASIS_OOJ] [varchar](1999) NULL,
	[ADM_RPTNG_CNTY] [varchar](1999) NULL,
	[CA_INIT_INTVWR_ASSGN_DT] [datetime] NULL,
	[CA_INTERVIEWER_ASSIGN_DT] [datetime] NULL,
	[CA_PATIENT_INTV_STATUS] [varchar](29) NULL,
	[CALC_5_YEAR_AGE_GROUP] [varchar](2) NULL,
	[CASE_RPT_MMWR_WK] [numeric](18, 0) NULL,
	[CASE_RPT_MMWR_YR] [numeric](18, 0) NULL,
	[CC_CLOSED_DT] [datetime] NULL,
	[CLN_CARE_STATUS_CLOSE_DT] [varchar](1999) NULL,
	[CLN_CONDITION_RESISTANT_TO] [varchar](1999) NULL,
	[CLN_DT_INIT_HLTH_EXM] [date] NULL,
	[CLN_NEUROSYPHILLIS_IND] [varchar](1999) NULL,
	[CLN_PRE_EXP_PROPHY_IND] [varchar](1999) NULL,
	[CLN_PRE_EXP_PROPHY_REFER] [varchar](1999) NULL,
	[CLN_SURV_PROVIDER_DIAG_CD] [varchar](20) NULL,
	[CMP_CONJUNCTIVITIS_IND] [varchar](1999) NULL,
	[CMP_PID_IND] [varchar](1999) NULL,
	[COINFECTION_ID] [varchar](100) NULL,
	[CONDITION_CD] [varchar](50) NULL,
	[CONDITION_KEY] [bigint] NULL,
	[CONFIRMATION_DT] [datetime] NULL,
	[CURR_PROCESS_STATE] [varchar](100) NULL,
	[DETECTION_METHOD_DESC_TXT] [varchar](50) NULL,
	[DIAGNOSIS] [varchar](1999) NULL,
	[DIAGNOSIS_CD] [varchar](3) NULL,
	[DIE_FRM_THIS_ILLNESS_IND] [varchar](50) NULL,
	[DISEASE_IMPORTED_IND] [varchar](100) NULL,
	[DISSEMINATED_IND] [varchar](1999) NULL,
	[EPI_CNTRY_USUAL_RESID] [varchar](1999) NULL,
	[EPI_LINK_ID] [varchar](20) NULL,
	[FACILITY_FLD_FOLLOW_UP_KEY] [bigint] NULL,
	[FIELD_RECORD_NUMBER] [varchar](20) NULL,
	[FL_FUP_ACTUAL_REF_TYPE] [varchar](15) NULL,
	[FL_FUP_DISPO_DT] [datetime] NULL,
	[FL_FUP_DISPOSITION] [varchar](44) NULL,
	[FL_FUP_EXAM_DT] [datetime] NULL,
	[FL_FUP_EXPECTED_DT] [datetime] NULL,
	[FL_FUP_EXPECTED_IN_IND_CD] [varchar](1) NULL,
	[FL_FUP_INIT_ASSGN_DT] [datetime] NULL,
	[FL_FUP_INTERNET_OUTCOME_CD] [varchar](10) NULL,
	[FL_FUP_INVESTIGATOR_ASSGN_DT] [datetime] NULL,
	[FL_FUP_NOTIFICATION_PLAN] [varchar](15) NULL,
	[FL_FUP_OOJ_OUTCOME] [varchar](44) NULL,
	[FL_FUP_PROV_DIAGNOSIS_CD] [varchar](3) NULL,
	[FL_FUP_PROV_EXM_REASON] [varchar](43) NULL,
	[HIV_900_RESULT] [varchar](4000) NULL,
	[HIV_900_TEST_IND] [varchar](4000) NULL,
	[HIV_900_TEST_REFERRAL_DT] [date] NULL,
	[HIV_AV_THERAPY_EVER_IND] [varchar](4000) NULL,
	[HIV_AV_THERAPY_LAST_12MO_IND] [varchar](4000) NULL,
	[HIV_CA_900_OTH_RSN_NOT_LO] [varchar](4000) NULL,
	[HIV_CA_900_REASON_NOT_LOC] [varchar](4000) NULL,
	[HIV_ENROLL_PRTNR_SRVCS_IND] [varchar](4000) NULL,
	[HIV_KEEP_900_CARE_APPT_IND] [varchar](4000) NULL,
	[HIV_LAST_900_TEST_DT] [date] NULL,
	[HIV_POST_TEST_900_COUNSELING] [varchar](4000) NULL,
	[HIV_PREVIOUS_900_TEST_IND] [varchar](4000) NULL,
	[HIV_REFER_FOR_900_CARE_IND] [varchar](4000) NULL,
	[HIV_REFER_FOR_900_TEST] [varchar](4000) NULL,
	[HIV_RST_PROVIDED_900_RSLT_IND] [varchar](4000) NULL,
	[HIV_SELF_REPORTED_RSLT_900] [varchar](4000) NULL,
	[HIV_STATE_CASE_ID] [varchar](2000) NULL,
	[HOSPITAL_KEY] [bigint] NULL,
	[HSPTLIZD_IND] [varchar](50) NULL,
	[INVESTIGATION_KEY] [bigint] NULL,
	[INIT_FUP_CLINIC_CODE] [varchar](50) NULL,
	[INIT_FUP_CLOSED_DT] [datetime] NULL,
	[INIT_FUP_INITIAL_FOLL_UP] [varchar](22) NULL,
	[INIT_FUP_INTERNET_FOLL_UP] [varchar](20) NULL,
	[INIT_FUP_INITIAL_FOLL_UP_CD] [varchar](20) NULL,
	[INIT_FUP_INTERNET_FOLL_UP_CD] [varchar](20) NULL,
	[INIT_FUP_NOTIFIABLE] [varchar](20) NULL,
	[INITIATING_AGNCY] [varchar](20) NULL,
	[INV_ASSIGNED_DT] [datetime] NULL,
	[INV_CASE_STATUS] [varchar](50) NULL,
	[INV_CLOSE_DT] [datetime] NULL,
	[INV_LOCAL_ID] [varchar](50) NULL,
	[INV_RPT_DT] [datetime] NULL,
	[INV_START_DT] [datetime] NULL,
	[INVESTIGATION_DEATH_DATE] [datetime] NULL,
	[INVESTIGATION_STATUS] [varchar](50) NULL,
	[INVESTIGATOR_CLOSED_KEY] [bigint] NULL,
	[INVESTIGATOR_CLOSED_QC] [varchar](50) NULL,
	[INVESTIGATOR_CURRENT_KEY] [bigint] NULL,
	[INVESTIGATOR_CURRENT_QC] [varchar](50) NULL,
	[INVESTIGATOR_DISP_FL_FUP_KEY] [bigint] NULL,
	[INVESTIGATOR_DISP_FL_FUP_QC] [varchar](50) NULL,
	[INVESTIGATOR_FL_FUP_KEY] [bigint] NULL,
	[INVESTIGATOR_FL_FUP_QC] [varchar](50) NULL,
	[INVESTIGATOR_INIT_INTRVW_KEY] [bigint] NULL,
	[INVESTIGATOR_INIT_INTRVW_QC] [varchar](50) NULL,
	[INVESTIGATOR_INIT_FL_FUP_KEY] [bigint] NULL,
	[INVESTIGATOR_INIT_FL_FUP_QC] [varchar](50) NULL,
	[INVESTIGATOR_INITIAL_KEY] [bigint] NULL,
	[INVESTIGATOR_INITIAL_QC] [varchar](50) NULL,
	[INVESTIGATOR_INTERVIEW_KEY] [bigint] NULL,
	[INVESTIGATOR_INTERVIEW_QC] [varchar](50) NULL,
	[INVESTIGATOR_SUPER_CASE_KEY] [bigint] NULL,
	[INVESTIGATOR_SUPER_CASE_QC] [varchar](50) NULL,
	[INVESTIGATOR_SUPER_FL_FUP_KEY] [bigint] NULL,
	[INVESTIGATOR_SUPER_FL_FUP_QC] [varchar](50) NULL,
	[INVESTIGATOR_SURV_KEY] [bigint] NULL,
	[INVESTIGATOR_SURV_QC] [varchar](50) NULL,
	[IPO_CURRENTLY_IN_INSTITUTION] [varchar](1999) NULL,
	[IPO_LIVING_WITH] [varchar](2000) NULL,
	[IPO_NAME_OF_INSTITUTITION] [varchar](2000) NULL,
	[IPO_TIME_AT_ADDRESS_NUM] [varchar](2000) NULL,
	[IPO_TIME_AT_ADDRESS_UNIT] [varchar](1999) NULL,
	[IPO_TIME_IN_COUNTRY_NUM] [varchar](2000) NULL,
	[IPO_TIME_IN_COUNTRY_UNIT] [varchar](1999) NULL,
	[IPO_TIME_IN_STATE_NUM] [varchar](2000) NULL,
	[IPO_TIME_IN_STATE_UNIT] [varchar](1999) NULL,
	[IPO_TYPE_OF_INSTITUTITION] [varchar](1999) NULL,
	[IPO_TYPE_OF_RESIDENCE] [varchar](1999) NULL,
	[IX_DATE_OI] [datetime] NULL,
	[JURISDICTION_CD] [varchar](20) NULL,
	[JURISDICTION_NM] [varchar](100) NULL,
	[LAB_HIV_SPECIMEN_COLL_DT] [date] NULL,
	[LAB_NONTREP_SYPH_RSLT_QNT] [varchar](1999) NULL,
	[LAB_NONTREP_SYPH_RSLT_QUA] [varchar](1999) NULL,
	[LAB_NONTREP_SYPH_TEST_TYP] [varchar](1999) NULL,
	[LAB_SYPHILIS_TST_PS_IND] [varchar](1999) NULL,
	[LAB_SYPHILIS_TST_RSLT_PS] [varchar](1999) NULL,
	[LAB_TESTS_PERFORMED] [varchar](1999) NULL,
	[LAB_TREP_SYPH_RESULT_QUAL] [varchar](1999) NULL,
	[LAB_TREP_SYPH_TEST_TYPE] [varchar](1999) NULL,
	[MDH_PREV_STD_HIST] [varchar](1999) NULL,
	[OOJ_AGENCY_SENT_TO] [varchar](20) NULL,
	[OOJ_DUE_DATE_SENT_TO] [datetime] NULL,
	[OOJ_FR_NUMBER_SENT_TO] [varchar](20) NULL,
	[OOJ_INITG_AGNCY_OUTC_DUE_DATE] [datetime] NULL,
	[OOJ_INITG_AGNCY_OUTC_SNT_DATE] [datetime] NULL,
	[OOJ_INITG_AGNCY_RECD_DATE] [datetime] NULL,
	[ORDERING_FACILITY_KEY] [bigint] NULL,
	[OUTBREAK_IND] [varchar](50) NULL,
	[OUTBREAK_NAME] [varchar](100) NULL,
	[PATIENT_ADDL_GENDER_INFO] [varchar](100) NULL,
	[PATIENT_AGE_AT_ONSET] [numeric](18, 0) NULL,
	[PATIENT_AGE_AT_ONSET_UNIT] [varchar](20) NULL,
	[PATIENT_AGE_REPORTED] [varchar](33) NULL,
	[PATIENT_ALIAS] [varchar](50) NULL,
	[PATIENT_BIRTH_COUNTRY] [varchar](50) NULL,
	[PATIENT_BIRTH_SEX] [varchar](50) NULL,
	[PATIENT_CENSUS_TRACT] [varchar](100) NULL,
	[PATIENT_CITY] [varchar](50) NULL,
	[PATIENT_COUNTRY] [varchar](50) NULL,
	[PATIENT_COUNTY] [varchar](50) NULL,
	[PATIENT_CURR_SEX_UNK_RSN] [varchar](100) NULL,
	[PATIENT_CURRENT_SEX] [varchar](50) NULL,
	[PATIENT_DECEASED_DATE] [datetime] NULL,
	[PATIENT_DECEASED_INDICATOR] [varchar](50) NULL,
	[PATIENT_DOB] [datetime] NULL,
	[PATIENT_EMAIL] [varchar](100) NULL,
	[PATIENT_ETHNICITY] [varchar](50) NULL,
	[PATIENT_LOCAL_ID] [varchar](50) NULL,
	[PATIENT_MARITAL_STATUS] [varchar](50) NULL,
	[PATIENT_NAME] [varchar](153) NULL,
	[PATIENT_PHONE_CELL] [varchar](50) NULL,
	[PATIENT_PHONE_HOME] [varchar](105) NULL,
	[PATIENT_PHONE_WORK] [varchar](105) NULL,
	[PATIENT_PREFERRED_GENDER] [varchar](100) NULL,
	[PATIENT_PREGNANT_IND] [varchar](50) NULL,
	[PATIENT_RACE] [varchar](50) NULL,
	[PATIENT_SEX] [varchar](100) NULL,
	[PATIENT_STATE] [varchar](50) NULL,
	[PATIENT_STREET_ADDRESS_1] [varchar](50) NULL,
	[PATIENT_STREET_ADDRESS_2] [varchar](50) NULL,
	[PATIENT_UNK_ETHNIC_RSN] [varchar](100) NULL,
	[PATIENT_ZIP] [varchar](50) NULL,
	[PBI_IN_PRENATAL_CARE_IND] [varchar](1999) NULL,
	[PBI_PATIENT_PREGNANT_WKS] [varchar](2000) NULL,
	[PBI_PREG_AT_EXAM_IND] [varchar](1999) NULL,
	[PBI_PREG_AT_EXAM_WKS] [varchar](2000) NULL,
	[PBI_PREG_AT_IX_IND] [varchar](1999) NULL,
	[PBI_PREG_AT_IX_WKS] [varchar](2000) NULL,
	[PBI_PREG_IN_LAST_12MO_IND] [varchar](1999) NULL,
	[PBI_PREG_OUTCOME] [varchar](2000) NULL,
	[PHYSICIAN_FL_FUP_KEY] [bigint] NULL,
	[PHYSICIAN_KEY] [bigint] NULL,
	[PROGRAM_AREA_CD] [varchar](20) NULL,
	[PROGRAM_JURISDICTION_OID] [bigint] NULL,
	[REPORTING_ORG_KEY] [bigint] NULL,
	[REPORTING_PROV_KEY] [bigint] NULL,
	[RPT_ELICIT_INTERNET_INFO] [varchar](1999) NULL,
	[RPT_FIRST_NDLSHARE_EXP_DT] [date] NULL,
	[RPT_FIRST_SEX_EXP_DT] [date] NULL,
	[RPT_LAST_NDLSHARE_EXP_DT] [date] NULL,
	[PROVIDER_REASON_VISIT_DT] [date] NULL,
	[REFERRAL_BASIS] [varchar](100) NULL,
	[RPT_LAST_SEX_EXP_DT] [date] NULL,
	[RPT_MET_OP_INTERNET] [varchar](1999) NULL,
	[RPT_NDLSHARE_EXP_FREQ] [varchar](2000) NULL,
	[RPT_RELATIONSHIP_TO_OP] [varchar](1999) NULL,
	[RPT_SEX_EXP_FREQ] [varchar](2000) NULL,
	[RPT_SRC_CD_DESC] [varchar](100) NULL,
	[RPT_SPOUSE_OF_OP] [varchar](1999) NULL,
	[RSK_BEEN_INCARCERATD_12MO_IND] [varchar](1999) NULL,
	[RSK_COCAINE_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_CRACK_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_ED_MEDS_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_HEROIN_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_INJ_DRUG_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_METH_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_NITR_POP_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_NO_DRUG_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_OTHER_DRUG_SPEC] [varchar](2000) NULL,
	[RSK_OTHER_DRUG_USE_12MO_IND] [varchar](1999) NULL,
	[RSK_RISK_FACTORS_ASSESS_IND] [varchar](1999) NULL,
	[RSK_SEX_EXCH_DRGS_MNY_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_INTOXCTED_HGH_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_W_ANON_PTRNR_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_W_FEMALE_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_W_KNOWN_IDU_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_W_KNWN_MSM_12M_FML_IND] [varchar](1999) NULL,
	[RSK_SEX_W_MALE_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_W_TRANSGNDR_12MO_IND] [varchar](1999) NULL,
	[RSK_SEX_WOUT_CONDOM_12MO_IND] [varchar](1999) NULL,
	[RSK_SHARED_INJ_EQUIP_12MO_IND] [varchar](1999) NULL,
	[RSK_TARGET_POPULATIONS] [varchar](1999) NULL,
	[SOC_FEMALE_PRTNRS_12MO_IND] [varchar](1999) NULL,
	[SOC_FEMALE_PRTNRS_12MO_TTL] [varchar](2000) NULL,
	[SOC_MALE_PRTNRS_12MO_IND] [varchar](1999) NULL,
	[SOC_MALE_PRTNRS_12MO_TOTAL] [varchar](2000) NULL,
	[SOC_PLACES_TO_HAVE_SEX] [varchar](1999) NULL,
	[SOC_PLACES_TO_MEET_PARTNER] [varchar](1999) NULL,
	[SOC_PRTNRS_PRD_FML_IND] [varchar](1999) NULL,
	[SOC_PRTNRS_PRD_FML_TTL] [varchar](2000) NULL,
	[SOC_PRTNRS_PRD_MALE_IND] [varchar](1999) NULL,
	[SOC_PRTNRS_PRD_MALE_TTL] [varchar](2000) NULL,
	[SOC_PRTNRS_PRD_TRNSGNDR_IND] [varchar](1999) NULL,
	[SOC_SX_PRTNRS_INTNT_12MO_IND] [varchar](1999) NULL,
	[SOC_TRANSGNDR_PRTNRS_12MO_IND] [varchar](1999) NULL,
	[SOC_TRANSGNDR_PRTNRS_12MO_TTL] [varchar](2000) NULL,
	[SOURCE_SPREAD] [varchar](1999) NULL,
	[STD_PRTNRS_PRD_TRNSGNDR_TTL] [varchar](2000) NULL,
	[SURV_CLOSED_DT] [datetime] NULL,
	[SURV_INVESTIGATOR_ASSGN_DT] [datetime] NULL,
	[SURV_PATIENT_FOLL_UP] [varchar](22) NULL,
	[SURV_PROVIDER_CONTACT] [varchar](20) NULL,
	[SURV_PROVIDER_EXAM_REASON] [varchar](43) NULL,
	[SYM_NEUROLOGIC_SIGN_SYM] [varchar](1999) NULL,
	[SYM_OCULAR_MANIFESTATIONS] [varchar](1999) NULL,
	[SYM_OTIC_MANIFESTATION] [varchar](1999) NULL,
	[SYM_LATE_CLINICAL_MANIFES] [varchar](1999) NULL,
	[TRT_TREATMENT_DATE] [date] NULL
) ON [PRIMARY]
PRINT 'STD HIV Datamart recreated...'+ CONVERT(varchar(20), getdate(),120) 

PRINT '[INV_HIV] Removal starting...'+ CONVERT(varchar(20), getdate(),120) 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INV_HIV]') AND type in (N'U'))
DROP TABLE [dbo].[INV_HIV]
PRINT '[INV_HIV] Removed...'+ CONVERT(varchar(20), getdate(),120) 

	DECLARE @counter AS int
	DECLARE @COUNTSTD AS int
	DECLARE @COUNTSTDstr nvarchar(20)
	DECLARE @COUNTHIV AS int
	DECLARE @COUNTHIVStr nvarchar(20)
	DECLARE @ErrorNumber int;
	DECLARE @ErrorLine int;
	DECLARE @ErrorMessage nvarchar(4000);
	DECLARE @ErrorSeverity int;
	DECLARE @ErrorState int;

	DECLARE @RowCount_no int;
	DECLARE @Proc_Step_no float= 0;
	DECLARE @Proc_Step_Name varchar(200)= '';
	DECLARE @batch_start_time datetime2(7)= NULL;
	DECLARE @batch_end_time datetime2(7)= NULL;
	SET @counter = (SELECT DISTINCT count(RDB_COLUMN_NM) from nbs_changedata.dbo.NBS_rdb_metadata where rdb_table_nm = 'D_INV_HIV'  AND RDB_COLUMN_NM IN ('HIV_CA_900_REASON_NOT_LOC', 'HIV_CA_900_OTH_RSN_NOT_LO'));
	SET @COUNTSTD= (select  count(*)as INT  from NBS_SRTE..Condition_code where nnd_entity_identifier= 'STD_Case_Map_v1.0' and port_req_ind_cd ='F' );
	SET @COUNTHIV= (SELECT COUNT(*) from nbs_changedata.dbo.NBS_rdb_metadata where rdb_table_nm = 'D_INV_HIV' );
	
--PRINT 'Counter @counter...'+ @counter+ CONVERT(varchar(20), getdate(),120) 
set @COUNTSTDstr =CAST(@COUNTSTD as varchar(10)) ;
set @COUNTHIVStr =CAST(@COUNTHIV as varchar(10)) ;

PRINT 'Counter @@COUNTSTD...'+ @COUNTSTDstr + CONVERT(varchar(20), getdate(),120) 
PRINT 'Counter @COUNTHIV...'+ @COUNTHIVStr+ CONVERT(varchar(20), getdate(),120) 

BEGIN TRANSACTION;
	SET @Proc_Step_Name = 'SP_Start';
	SET @Proc_Step_no = 1;
	INSERT INTO [dbo].[job_flow_log] (batch_id,[Dataflow_Name],[package_Name],[Status_Type] ,[step_number],[step_name],[row_count])
		VALUES( @Batch_id,'STD_HIV_DATAMART','STD_HIV_DATAMART','START',@Proc_Step_no,@Proc_Step_Name,0);
COMMIT TRANSACTION;

if @COUNTSTD>0 and @COUNTHIV<1 
BEGIN

	PRINT 'STEP1 Counter @COUNTSTD>0 and @COUNTHIVStr...'+ @COUNTSTDStr + CONVERT(varchar(20), getdate(),120) 
		BEGIN TRY
		BEGIN TRANSACTION;
		SET @Proc_Step_name='Generating INV_HIV table with STD page only';
		SET @Proc_Step_no = 2;

		create table [dbo].[INV_HIV]
		(
			D_INV_HIV_KEY BIGINT,
			HIV_STATE_CASE_ID VARCHAR(2000),
			HIV_LAST_900_TEST_DT DATE,
			HIV_900_TEST_REFERRAL_DT DATE,
			HIV_CA_900_OTH_RSN_NOT_LO VARCHAR(4000),
			HIV_ENROLL_PRTNR_SRVCS_IND VARCHAR(4000),
			HIV_PREVIOUS_900_TEST_IND VARCHAR(4000),
			HIV_SELF_REPORTED_RSLT_900 VARCHAR(4000),
			HIV_REFER_FOR_900_TEST VARCHAR(4000),
			HIV_900_TEST_IND VARCHAR(4000),
			HIV_900_RESULT VARCHAR(4000),
			HIV_RST_PROVIDED_900_RSLT_IND VARCHAR(4000),
			HIV_POST_TEST_900_COUNSELING VARCHAR(4000),
			HIV_REFER_FOR_900_CARE_IND VARCHAR(4000),
			HIV_KEEP_900_CARE_APPT_IND VARCHAR(4000),
			HIV_AV_THERAPY_LAST_12MO_IND VARCHAR(4000),
			HIV_AV_THERAPY_EVER_IND VARCHAR(4000),
			HIV_CA_900_REASON_NOT_LOC VARCHAR(4000),
			INVESTIGATION_KEY BIGINT
		);
		SELECT @RowCount_no = @@ROWCOUNT;

	INSERT INTO [DBO].[INV_HIV] (INVESTIGATION_KEY) VALUES (1);
		INSERT INTO [dbo].[job_flow_log] (batch_id,[Dataflow_Name],[package_Name],[Status_Type],[step_number],[step_name],[row_count])
			   VALUES(@Batch_id,'STD_HIV_DATAMART','INV_HIV','START',@Proc_Step_no,@Proc_Step_name,@RowCount_no);

	COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END;
			 SET @ErrorNumber = ERROR_NUMBER();
			 SET @ErrorLine = ERROR_LINE();
			 SET @ErrorMessage = ERROR_MESSAGE();
			SET  @ErrorSeverity = ERROR_SEVERITY();
			SET @ErrorState= ERROR_STATE();
			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [Error_Description], [row_count] )
			VALUES( @Batch_id, 'STD_HIV_DATAMART', 'INV_HIV', 'ERROR', @Proc_Step_no, 'ERROR - '+@Proc_Step_name, 'Step -'+CAST(@Proc_Step_no AS varchar(3))+' -'+CAST(@ErrorMessage AS varchar(500)), 0 );
			RETURN -1;
		END CATCH;
END;
IF @COUNTSTD>0 AND @COUNTHIV>0 
BEGIN
	SET @Proc_Step_Name = 'Inserting data into INV_HIV table';	
	if(@Proc_Step_no=1)
		SET @Proc_Step_no = 2;
	else if (@Proc_Step_no=2)
		SET @Proc_Step_no = 3;
	PRINT 'STEP2 Counter @COUNTSTD>0 and @COUNTHIV<1...'+ @COUNTSTDStr + ' @COUNTHIVStr...'+@COUNTHIVStr + CONVERT(varchar(20), getdate(),120) 

		BEGIN TRY
		BEGIN TRANSACTION;

		create table [dbo].[INV_HIV]
		(
			D_INV_HIV_KEY BIGINT,
			HIV_STATE_CASE_ID VARCHAR(2000),
			HIV_LAST_900_TEST_DT DATE,
			HIV_900_TEST_REFERRAL_DT DATE,
			HIV_CA_900_OTH_RSN_NOT_LO VARCHAR(4000),
			HIV_ENROLL_PRTNR_SRVCS_IND VARCHAR(4000),
			HIV_PREVIOUS_900_TEST_IND VARCHAR(4000),
			HIV_SELF_REPORTED_RSLT_900 VARCHAR(4000),
			HIV_REFER_FOR_900_TEST VARCHAR(4000),
			HIV_900_TEST_IND VARCHAR(4000),
			HIV_900_RESULT VARCHAR(4000),
			HIV_RST_PROVIDED_900_RSLT_IND VARCHAR(4000),
			HIV_POST_TEST_900_COUNSELING VARCHAR(4000),
			HIV_REFER_FOR_900_CARE_IND VARCHAR(4000),
			HIV_KEEP_900_CARE_APPT_IND VARCHAR(4000),
			HIV_AV_THERAPY_LAST_12MO_IND VARCHAR(4000),
			HIV_AV_THERAPY_EVER_IND VARCHAR(4000),
			HIV_CA_900_REASON_NOT_LOC VARCHAR(4000),
			INVESTIGATION_KEY BIGINT
		);

		SET @Proc_Step_name='Generating INV_HIV table with STD page and HIV page'; 
		declare @INV_HIV_Query varchar(max);
		set @INV_HIV_Query='INSERT INTO [DBO].[INV_HIV]
 
			(D_INV_HIV_KEY, 
			HIV_STATE_CASE_ID,
			HIV_LAST_900_TEST_DT,
			HIV_900_TEST_REFERRAL_DT,
	 		HIV_ENROLL_PRTNR_SRVCS_IND,
			HIV_PREVIOUS_900_TEST_IND,
			HIV_SELF_REPORTED_RSLT_900, 
			HIV_REFER_FOR_900_TEST,
			HIV_900_TEST_IND ,
			HIV_900_RESULT ,
			HIV_RST_PROVIDED_900_RSLT_IND ,
			HIV_POST_TEST_900_COUNSELING ,
			HIV_REFER_FOR_900_CARE_IND ,
			HIV_KEEP_900_CARE_APPT_IND ,
			HIV_AV_THERAPY_LAST_12MO_IND ,
			HIV_AV_THERAPY_EVER_IND,
			F_STD_PAGE_CASE.INVESTIGATION_KEY)
			SELECT 	
			F_STD_PAGE_CASE.D_INV_HIV_KEY,	
			HIV_STATE_CASE_ID,
			HIV_LAST_900_TEST_DT,
			HIV_900_TEST_REFERRAL_DT,
	 		HIV_ENROLL_PRTNR_SRVCS_IND,
			HIV_PREVIOUS_900_TEST_IND,
			HIV_SELF_REPORTED_RSLT_900, 
			HIV_REFER_FOR_900_TEST,
			HIV_900_TEST_IND ,
			HIV_900_RESULT ,
			HIV_RST_PROVIDED_900_RSLT_IND ,
			HIV_POST_TEST_900_COUNSELING ,
			HIV_REFER_FOR_900_CARE_IND ,
			HIV_KEEP_900_CARE_APPT_IND ,
			HIV_AV_THERAPY_LAST_12MO_IND ,
			HIV_AV_THERAPY_EVER_IND,
			F_STD_PAGE_CASE.INVESTIGATION_KEY
		FROM 
		[DBO].[F_STD_PAGE_CASE]
	LEFT OUTER JOIN
		[DBO].[D_INV_HIV]
	ON	[D_INV_HIV].D_INV_HIV_KEY=[F_STD_PAGE_CASE].D_INV_HIV_KEY
	LEFT OUTER JOIN
		[DBO].[INVESTIGATION]
	ON 
		[INVESTIGATION].INVESTIGATION_KEY= F_STD_PAGE_CASE.INVESTIGATION_KEY
		WHERE RECORD_STATUS_CD=''ACTIVE''
		ORDER BY F_STD_PAGE_CASE.INVESTIGATION_KEY';
		exec (@INV_HIV_Query);
		SELECT @RowCount_no = @@ROWCOUNT;
		INSERT INTO [DBO].[INV_HIV] (INVESTIGATION_KEY) VALUES (1);
		
		INSERT INTO [dbo].[job_flow_log] (batch_id,[Dataflow_Name],[package_Name],[Status_Type],[step_number],[step_name],[row_count])
			   VALUES(@Batch_id,'STD_HIV_DATAMART','INV_HIV','START',@Proc_Step_no,@Proc_Step_name,@RowCount_no);


	COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END;
			SET @ErrorNumber = ERROR_NUMBER();
			SET @ErrorLine = ERROR_LINE();
			SET @ErrorMessage = ERROR_MESSAGE();
			SET @ErrorSeverity = ERROR_SEVERITY();
			SET @ErrorState = ERROR_STATE();

			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [Error_Description], [row_count] )
			VALUES( @Batch_id, 'STD_HIV_DATAMART', 'INV_HIV', 'ERROR', @Proc_Step_no, 'ERROR - '+@Proc_Step_name, 'Step -'+CAST(@Proc_Step_no AS varchar(3))+' -'+CAST(@ErrorMessage AS varchar(500)), 0 );
			RETURN -1;
		END CATCH;
END;

IF @COUNTSTD >0
BEGIN
	SET @Proc_Step_Name = 'Insert into STD_HIV_DATAMART';	
	if(@Proc_Step_no=3)
		SET @Proc_Step_no = 4;
	else if (@Proc_Step_no=2)
		SET @Proc_Step_no = 3;
		
		BEGIN TRY
		BEGIN TRANSACTION;
			SET @Proc_Step_name='Generating STD_HIV_DATAMART table'; 

INSERT INTO [dbo].[STD_HIV_DATAMART]
           ([ADI_900_STATUS]
           ,[ADI_900_STATUS_CD]
           ,[ADM_REFERRAL_BASIS_OOJ]
           ,[ADM_RPTNG_CNTY]
           ,[CA_INIT_INTVWR_ASSGN_DT]
           ,[CA_INTERVIEWER_ASSIGN_DT]
           ,[CA_PATIENT_INTV_STATUS]
           ,[CALC_5_YEAR_AGE_GROUP]
           ,[CASE_RPT_MMWR_WK]
           ,[CASE_RPT_MMWR_YR]
           ,[CC_CLOSED_DT]
           ,[CLN_CARE_STATUS_CLOSE_DT]
           ,[CLN_CONDITION_RESISTANT_TO]
           ,[CLN_DT_INIT_HLTH_EXM]
           ,[CLN_NEUROSYPHILLIS_IND]
           ,[CLN_PRE_EXP_PROPHY_IND]
           ,[CLN_PRE_EXP_PROPHY_REFER]
           ,[CLN_SURV_PROVIDER_DIAG_CD]
           ,[CMP_CONJUNCTIVITIS_IND]
           ,[CMP_PID_IND]
           ,[COINFECTION_ID]
           ,[CONDITION_CD]
           ,[CONDITION_KEY]
           ,[CONFIRMATION_DT]
           ,[CURR_PROCESS_STATE]
           ,[DETECTION_METHOD_DESC_TXT]
           ,[DIAGNOSIS]
           ,[DIAGNOSIS_CD]
           ,[DIE_FRM_THIS_ILLNESS_IND]
           ,[DISEASE_IMPORTED_IND]
           ,[DISSEMINATED_IND]
           ,[EPI_CNTRY_USUAL_RESID]
           ,[EPI_LINK_ID]
           ,[FACILITY_FLD_FOLLOW_UP_KEY]
           ,[FIELD_RECORD_NUMBER]
           ,[FL_FUP_ACTUAL_REF_TYPE]
           ,[FL_FUP_DISPO_DT]
           ,[FL_FUP_DISPOSITION]
           ,[FL_FUP_EXAM_DT]
           ,[FL_FUP_EXPECTED_DT]
           ,[FL_FUP_EXPECTED_IN_IND_CD]
           ,[FL_FUP_INIT_ASSGN_DT]
           ,[FL_FUP_INTERNET_OUTCOME_CD]
           ,[FL_FUP_INVESTIGATOR_ASSGN_DT]
           ,[FL_FUP_NOTIFICATION_PLAN]
           ,[FL_FUP_OOJ_OUTCOME]
           ,[FL_FUP_PROV_DIAGNOSIS_CD]
           ,[FL_FUP_PROV_EXM_REASON]
           ,[HIV_900_RESULT]
           ,[HIV_900_TEST_IND]
           ,[HIV_900_TEST_REFERRAL_DT]
           ,[HIV_AV_THERAPY_EVER_IND]
           ,[HIV_AV_THERAPY_LAST_12MO_IND]
           ,[HIV_CA_900_OTH_RSN_NOT_LO]
           ,[HIV_CA_900_REASON_NOT_LOC]
           ,[HIV_ENROLL_PRTNR_SRVCS_IND]
           ,[HIV_KEEP_900_CARE_APPT_IND]
           ,[HIV_LAST_900_TEST_DT]
           ,[HIV_POST_TEST_900_COUNSELING]
           ,[HIV_PREVIOUS_900_TEST_IND]
           ,[HIV_REFER_FOR_900_CARE_IND]
           ,[HIV_REFER_FOR_900_TEST]
           ,[HIV_RST_PROVIDED_900_RSLT_IND]
           ,[HIV_SELF_REPORTED_RSLT_900]
           ,[HIV_STATE_CASE_ID]
           ,[HOSPITAL_KEY]
           ,[HSPTLIZD_IND]
           ,[INVESTIGATION_KEY]
           ,[INIT_FUP_CLINIC_CODE]
           ,[INIT_FUP_CLOSED_DT]
           ,[INIT_FUP_INITIAL_FOLL_UP]
           ,[INIT_FUP_INTERNET_FOLL_UP]
           ,[INIT_FUP_INITIAL_FOLL_UP_CD]
           ,[INIT_FUP_INTERNET_FOLL_UP_CD]
           ,[INIT_FUP_NOTIFIABLE]
           ,[INITIATING_AGNCY]
           ,[INV_ASSIGNED_DT]
           ,[INV_CASE_STATUS]
           ,[INV_CLOSE_DT]
           ,[INV_LOCAL_ID]
           ,[INV_RPT_DT]
           ,[INV_START_DT]
           ,[INVESTIGATION_DEATH_DATE]
           ,[INVESTIGATION_STATUS]
           ,[INVESTIGATOR_CLOSED_KEY]
           ,[INVESTIGATOR_CLOSED_QC]
           ,[INVESTIGATOR_CURRENT_KEY]
           ,[INVESTIGATOR_CURRENT_QC]
           ,[INVESTIGATOR_DISP_FL_FUP_KEY]
           ,[INVESTIGATOR_DISP_FL_FUP_QC]
           ,[INVESTIGATOR_FL_FUP_KEY]
           ,[INVESTIGATOR_FL_FUP_QC]
           ,[INVESTIGATOR_INIT_INTRVW_KEY]
           ,[INVESTIGATOR_INIT_INTRVW_QC]
           ,[INVESTIGATOR_INIT_FL_FUP_KEY]
           ,[INVESTIGATOR_INIT_FL_FUP_QC]
           ,[INVESTIGATOR_INITIAL_KEY]
           ,[INVESTIGATOR_INITIAL_QC]
           ,[INVESTIGATOR_INTERVIEW_KEY]
           ,[INVESTIGATOR_INTERVIEW_QC]
           ,[INVESTIGATOR_SUPER_CASE_KEY]
           ,[INVESTIGATOR_SUPER_CASE_QC]
           ,[INVESTIGATOR_SUPER_FL_FUP_KEY]
           ,[INVESTIGATOR_SUPER_FL_FUP_QC]
           ,[INVESTIGATOR_SURV_KEY]
           ,[INVESTIGATOR_SURV_QC]
           ,[IPO_CURRENTLY_IN_INSTITUTION]
           ,[IPO_LIVING_WITH]
           ,[IPO_NAME_OF_INSTITUTITION]
           ,[IPO_TIME_AT_ADDRESS_NUM]
           ,[IPO_TIME_AT_ADDRESS_UNIT]
           ,[IPO_TIME_IN_COUNTRY_NUM]
           ,[IPO_TIME_IN_COUNTRY_UNIT]
           ,[IPO_TIME_IN_STATE_NUM]
           ,[IPO_TIME_IN_STATE_UNIT]
           ,[IPO_TYPE_OF_INSTITUTITION]
           ,[IPO_TYPE_OF_RESIDENCE]
           ,[IX_DATE_OI]
           ,[JURISDICTION_CD]
           ,[JURISDICTION_NM]
           ,[LAB_HIV_SPECIMEN_COLL_DT]
           ,[LAB_NONTREP_SYPH_RSLT_QNT]
           ,[LAB_NONTREP_SYPH_RSLT_QUA]
           ,[LAB_NONTREP_SYPH_TEST_TYP]
           ,[LAB_SYPHILIS_TST_PS_IND]
           ,[LAB_SYPHILIS_TST_RSLT_PS]
           ,[LAB_TESTS_PERFORMED]
           ,[LAB_TREP_SYPH_RESULT_QUAL]
           ,[LAB_TREP_SYPH_TEST_TYPE]
           ,[MDH_PREV_STD_HIST]
           ,[OOJ_AGENCY_SENT_TO]
           ,[OOJ_DUE_DATE_SENT_TO]
           ,[OOJ_FR_NUMBER_SENT_TO]
           ,[OOJ_INITG_AGNCY_OUTC_DUE_DATE]
           ,[OOJ_INITG_AGNCY_OUTC_SNT_DATE]
           ,[OOJ_INITG_AGNCY_RECD_DATE]
           ,[ORDERING_FACILITY_KEY]
           ,[OUTBREAK_IND]
           ,[OUTBREAK_NAME]
           ,[PATIENT_ADDL_GENDER_INFO]
           ,[PATIENT_AGE_AT_ONSET]
           ,[PATIENT_AGE_AT_ONSET_UNIT]
           ,[PATIENT_AGE_REPORTED]
           ,[PATIENT_ALIAS]
           ,[PATIENT_BIRTH_COUNTRY]
           ,[PATIENT_BIRTH_SEX]
           ,[PATIENT_CENSUS_TRACT]
           ,[PATIENT_CITY]
           ,[PATIENT_COUNTRY]
           ,[PATIENT_COUNTY]
           ,[PATIENT_CURR_SEX_UNK_RSN]
           ,[PATIENT_CURRENT_SEX]
           ,[PATIENT_DECEASED_DATE]
           ,[PATIENT_DECEASED_INDICATOR]
           ,[PATIENT_DOB]
           ,[PATIENT_EMAIL]
           ,[PATIENT_ETHNICITY]
           ,[PATIENT_LOCAL_ID]
           ,[PATIENT_MARITAL_STATUS]
           ,[PATIENT_NAME]
           ,[PATIENT_PHONE_CELL]
           ,[PATIENT_PHONE_HOME]
           ,[PATIENT_PHONE_WORK]
           ,[PATIENT_PREFERRED_GENDER]
           ,[PATIENT_PREGNANT_IND]
           ,[PATIENT_RACE]
           ,[PATIENT_SEX]
           ,[PATIENT_STATE]
           ,[PATIENT_STREET_ADDRESS_1]
           ,[PATIENT_STREET_ADDRESS_2]
           ,[PATIENT_UNK_ETHNIC_RSN]
           ,[PATIENT_ZIP]
           ,[PBI_IN_PRENATAL_CARE_IND]
           ,[PBI_PATIENT_PREGNANT_WKS]
           ,[PBI_PREG_AT_EXAM_IND]
           ,[PBI_PREG_AT_EXAM_WKS]
           ,[PBI_PREG_AT_IX_IND]
           ,[PBI_PREG_AT_IX_WKS]
           ,[PBI_PREG_IN_LAST_12MO_IND]
           ,[PBI_PREG_OUTCOME]
           ,[PHYSICIAN_FL_FUP_KEY]
           ,[PHYSICIAN_KEY]
           ,[PROGRAM_AREA_CD]
           ,[PROGRAM_JURISDICTION_OID]
           ,[REPORTING_ORG_KEY]
           ,[REPORTING_PROV_KEY]
           ,[RPT_ELICIT_INTERNET_INFO]
           ,[RPT_FIRST_NDLSHARE_EXP_DT]
           ,[RPT_FIRST_SEX_EXP_DT]
           ,[RPT_LAST_NDLSHARE_EXP_DT]
           ,[PROVIDER_REASON_VISIT_DT]
           ,[REFERRAL_BASIS]
           ,[RPT_LAST_SEX_EXP_DT]
           ,[RPT_MET_OP_INTERNET]
           ,[RPT_NDLSHARE_EXP_FREQ]
           ,[RPT_RELATIONSHIP_TO_OP]
           ,[RPT_SEX_EXP_FREQ]
           ,[RPT_SRC_CD_DESC]
           ,[RPT_SPOUSE_OF_OP]
           ,[RSK_BEEN_INCARCERATD_12MO_IND]
           ,[RSK_COCAINE_USE_12MO_IND]
           ,[RSK_CRACK_USE_12MO_IND]
           ,[RSK_ED_MEDS_USE_12MO_IND]
           ,[RSK_HEROIN_USE_12MO_IND]
           ,[RSK_INJ_DRUG_USE_12MO_IND]
           ,[RSK_METH_USE_12MO_IND]
           ,[RSK_NITR_POP_USE_12MO_IND]
           ,[RSK_NO_DRUG_USE_12MO_IND]
           ,[RSK_OTHER_DRUG_SPEC]
           ,[RSK_OTHER_DRUG_USE_12MO_IND]
           ,[RSK_RISK_FACTORS_ASSESS_IND]
           ,[RSK_SEX_EXCH_DRGS_MNY_12MO_IND]
           ,[RSK_SEX_INTOXCTED_HGH_12MO_IND]
           ,[RSK_SEX_W_ANON_PTRNR_12MO_IND]
           ,[RSK_SEX_W_FEMALE_12MO_IND]
           ,[RSK_SEX_W_KNOWN_IDU_12MO_IND]
           ,[RSK_SEX_W_KNWN_MSM_12M_FML_IND]
           ,[RSK_SEX_W_MALE_12MO_IND]
           ,[RSK_SEX_W_TRANSGNDR_12MO_IND]
           ,[RSK_SEX_WOUT_CONDOM_12MO_IND]
           ,[RSK_SHARED_INJ_EQUIP_12MO_IND]
           ,[RSK_TARGET_POPULATIONS]
           ,[SOC_FEMALE_PRTNRS_12MO_IND]
           ,[SOC_FEMALE_PRTNRS_12MO_TTL]
           ,[SOC_MALE_PRTNRS_12MO_IND]
           ,[SOC_MALE_PRTNRS_12MO_TOTAL]
           ,[SOC_PLACES_TO_HAVE_SEX]
           ,[SOC_PLACES_TO_MEET_PARTNER]
           ,[SOC_PRTNRS_PRD_FML_IND]
           ,[SOC_PRTNRS_PRD_FML_TTL]
           ,[SOC_PRTNRS_PRD_MALE_IND]
           ,[SOC_PRTNRS_PRD_MALE_TTL]
           ,[SOC_PRTNRS_PRD_TRNSGNDR_IND]
           ,[SOC_SX_PRTNRS_INTNT_12MO_IND]
           ,[SOC_TRANSGNDR_PRTNRS_12MO_IND]
           ,[SOC_TRANSGNDR_PRTNRS_12MO_TTL]
           ,[SOURCE_SPREAD]
           ,[STD_PRTNRS_PRD_TRNSGNDR_TTL]
           ,[SURV_CLOSED_DT]
           ,[SURV_INVESTIGATOR_ASSGN_DT]
           ,[SURV_PATIENT_FOLL_UP]
           ,[SURV_PROVIDER_CONTACT]
           ,[SURV_PROVIDER_EXAM_REASON]
           ,[SYM_NEUROLOGIC_SIGN_SYM]
           ,[SYM_OCULAR_MANIFESTATIONS]
           ,[SYM_OTIC_MANIFESTATION]
           ,[SYM_LATE_CLINICAL_MANIFES]
           ,[TRT_TREATMENT_DATE])
	(SELECT DISTINCT
				STATUS_900 
				,CM.ADI_900_STATUS_CD
				,AM.ADM_REFERRAL_BASIS_OOJ
				,AM.ADM_RPTNG_CNTY
				,CM.CA_INIT_INTVWR_ASSGN_DT
				,CM.CA_INTERVIEWER_ASSIGN_DT
				,CM.CA_PATIENT_INTV_STATUS
				,(CASE
					WHEN PAT.PATIENT_AGE_REPORTED >= 0
					  AND PAT.PATIENT_AGE_REPORTED <= 4
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 1'
					WHEN PAT.PATIENT_AGE_REPORTED >= 5
					  AND PAT.PATIENT_AGE_REPORTED <= 9
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 2'
					WHEN PAT.PATIENT_AGE_REPORTED >= 10
					  AND PAT.PATIENT_AGE_REPORTED <= 14
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 3'
					WHEN PAT.PATIENT_AGE_REPORTED >= 15
					  AND PAT.PATIENT_AGE_REPORTED <= 19
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 4'
					WHEN PAT.PATIENT_AGE_REPORTED >= 20
					  AND PAT.PATIENT_AGE_REPORTED <= 24
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 5'
					WHEN PAT.PATIENT_AGE_REPORTED >= 25
					  AND PAT.PATIENT_AGE_REPORTED <= 29
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 6'
					WHEN PAT.PATIENT_AGE_REPORTED >= 30
					  AND PAT.PATIENT_AGE_REPORTED <= 34
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 7'
					WHEN PAT.PATIENT_AGE_REPORTED >= 35
					  AND PAT.PATIENT_AGE_REPORTED <= 39
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 8'
					WHEN PAT.PATIENT_AGE_REPORTED >= 40
					  AND PAT.PATIENT_AGE_REPORTED <= 44
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN ' 9'
					WHEN PAT.PATIENT_AGE_REPORTED >= 45
					  AND PAT.PATIENT_AGE_REPORTED <= 49
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '10'
					WHEN PAT.PATIENT_AGE_REPORTED >= 50
					  AND PAT.PATIENT_AGE_REPORTED <= 54
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '11'
					WHEN PAT.PATIENT_AGE_REPORTED >= 55
					  AND PAT.PATIENT_AGE_REPORTED <= 59
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '12'
					WHEN PAT.PATIENT_AGE_REPORTED >= 60
					  AND PAT.PATIENT_AGE_REPORTED <= 64
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '13'
					WHEN PAT.PATIENT_AGE_REPORTED >= 65
					  AND PAT.PATIENT_AGE_REPORTED <= 69
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '14'
					WHEN PAT.PATIENT_AGE_REPORTED >= 70
					  AND PAT.PATIENT_AGE_REPORTED <= 74
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '15'
					WHEN PAT.PATIENT_AGE_REPORTED >= 75
					  AND PAT.PATIENT_AGE_REPORTED <= 79
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '16'
					WHEN PAT.PATIENT_AGE_REPORTED >= 80
					  AND PAT.PATIENT_AGE_REPORTED <= 84
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '17'
					WHEN PAT.PATIENT_AGE_REPORTED >= 85
					  AND PAT.PATIENT_AGE_REPORTED_UNIT = 'YEARS'
						THEN '18'
					ELSE NULL END )  
				,INV.CASE_RPT_MMWR_WK
				,INV.CASE_RPT_MMWR_YR
				,CM.CC_CLOSED_DT
				,CLN.CLN_CARE_STATUS_CLOSE_DT
				,CLN.CLN_CONDITION_RESISTANT_TO
				,CLN.CLN_DT_INIT_HLTH_EXM
				,CLN.CLN_NEUROSYPHILLIS_IND
				,CLN.CLN_PRE_EXP_PROPHY_IND
				,CLN.CLN_PRE_EXP_PROPHY_REFER
				,CM.SURV_PROVIDER_DIAGNOSIS 
				,CMP.CMP_CONJUNCTIVITIS_IND
				,CMP.CMP_PID_IND
				,INV.COINFECTION_ID
				,COND.CONDITION_CD
				,COND.CONDITION_KEY
				,CAST(FORMAT(CONF.CONFIRMATION_DT, 'yyyy-MM-dd') AS datetime)  
				,INV.CURR_PROCESS_STATE
				,INV.DETECTION_METHOD_DESC_TXT
				,CLN.CLN_CASE_DIAGNOSIS
				,SUBSTRING(CLN.CLN_CASE_DIAGNOSIS, 1, 3) 
				,INV.DIE_FRM_THIS_ILLNESS_IND
				,INV.DISEASE_IMPORTED_IND
				,AM.ADM_DISSEMINATED_IND 
				,EPI.EPI_CNTRY_USUAL_RESID
				,CM.EPI_LINK_ID
				,PC.FACILITY_FLD_FOLLOW_UP_KEY
				,CM.FL_FUP_FIELD_RECORD_NUM  
				,CM.FL_FUP_ACTUAL_REF_TYPE
				,CM.FL_FUP_DISPO_DT
				,CM.FL_FUP_DISPOSITION_DESC  
				,CM.FL_FUP_EXAM_DT
				,CM.FL_FUP_EXPECTED_DT
				 -- CODE TO GENERATE THE CORRECT FL_FUP_EXPECTED_IND_CD FIELD AS WILL BE IN THE NBS 6.2 RELEASE (DEFECT 12626)
				,SUBSTRING(CM.FL_FUP_EXPECTED_IN_IND, 1, 1) 
				,CM.FL_FUP_INIT_ASSGN_DT
				,CM.FL_FUP_INTERNET_OUTCOME_CD
				,CM.FL_FUP_INVESTIGATOR_ASSGN_DT
				,CM.FL_FUP_NOTIFICATION_PLAN_CD  
				,CM.FL_FUP_OOJ_OUTCOME
				,SUBSTRING(CM.FL_FUP_PROV_DIAGNOSIS, 1, 3)  
				,CM.FL_FUP_PROV_EXM_REASON
				,RTRIM(LTRIM(HIV.HIV_900_RESULT))  
				,HIV.HIV_900_TEST_IND
				,HIV.HIV_900_TEST_REFERRAL_DT
				,HIV.HIV_AV_THERAPY_EVER_IND
				,HIV.HIV_AV_THERAPY_LAST_12MO_IND
				,RTRIM(LTRIM(HIV.HIV_CA_900_OTH_RSN_NOT_LO))  
				,HIV.HIV_CA_900_REASON_NOT_LOC
				,HIV.HIV_ENROLL_PRTNR_SRVCS_IND
				,HIV.HIV_KEEP_900_CARE_APPT_IND
				,HIV.HIV_LAST_900_TEST_DT
				,RTRIM(LTRIM(HIV.HIV_POST_TEST_900_COUNSELING))  
				,HIV.HIV_PREVIOUS_900_TEST_IND
				,HIV.HIV_REFER_FOR_900_CARE_IND
				,RTRIM(LTRIM(HIV.HIV_REFER_FOR_900_TEST))  
				,HIV.HIV_RST_PROVIDED_900_RSLT_IND
				,HIV.HIV_SELF_REPORTED_RSLT_900
				,RTRIM(LTRIM(HIV.HIV_STATE_CASE_ID))  
				,PC.HOSPITAL_KEY
				,INV.HSPTLIZD_IND
				,PC.INVESTIGATION_KEY
				,CM.INIT_FUP_CLINIC_CODE
				,CM.INIT_FUP_CLOSED_DT
				,CM.INIT_FUP_INITIAL_FOLL_UP
				,CM.INIT_FUP_INTERNET_FOLL_UP_CD  
				,CM.INIT_FUP_INITIAL_FOLL_UP_CD
				,CM.INIT_FUP_INTERNET_FOLL_UP_CD
				,CM.INIT_FUP_NOTIFIABLE_CD  
				,CM.INITIATING_AGNCY
				,CAST(FORMAT(INV.INV_ASSIGNED_DT, 'yyyy-MM-dd') AS datetime)  
				,INV.INV_CASE_STATUS
				,CAST(FORMAT(INV.INV_CLOSE_DT, 'yyyy-MM-dd') AS datetime)  
				,INV.INV_LOCAL_ID
				,CAST(FORMAT(INV.INV_RPT_DT, 'yyyy-MM-dd') AS datetime) 
				,CAST(FORMAT(INV.INV_START_DT, 'yyyy-MM-dd') AS datetime) 
				,CAST(FORMAT(INV.INVESTIGATION_DEATH_DATE, 'yyyy-MM-dd') AS datetime)  
				,INV.INVESTIGATION_STATUS
				,PC.CLOSED_BY_KEY 
				,INVEST.PROVIDER_QUICK_CODE 
				,PC.INVESTIGATOR_KEY 
				,CRNTI.PROVIDER_QUICK_CODE 
				,PC.DISPOSITIONED_BY_KEY 
				,DISP.PROVIDER_QUICK_CODE 
				,PC.INVSTGTR_FLD_FOLLOW_UP_KEY 
				,FLD.PROVIDER_QUICK_CODE 
				,PC.INIT_ASGNED_INTERVIEWER_KEY 
				,INITIV.PROVIDER_QUICK_CODE 
				,PC.INIT_ASGNED_FLD_FOLLOW_UP_KEY 
				,FUP.PROVIDER_QUICK_CODE 
				,PC.INIT_FOLLOW_UP_INVSTGTR_KEY 
				,INIT.PROVIDER_QUICK_CODE 
				,PC.INTERVIEWER_ASSIGNED_KEY 
				,IVW.PROVIDER_QUICK_CODE 
				,PC.SUPRVSR_OF_CASE_ASSGNMENT_KEY 
				,SUPV.PROVIDER_QUICK_CODE 
				,PC.SUPRVSR_OF_FLD_FOLLOW_UP_KEY 
				,SUPVFUP.PROVIDER_QUICK_CODE 
				,PC.SURVEILLANCE_INVESTIGATOR_KEY 
				,SURV.PROVIDER_QUICK_CODE 
				,OBS.IPO_CURRENTLY_IN_INSTITUTION
				,RTRIM(LTRIM(OBS.IPO_LIVING_WITH)) 
				,RTRIM(LTRIM(OBS.IPO_NAME_OF_INSTITUTITION)) 
				,OBS.IPO_TIME_AT_ADDRESS_NUM
				,OBS.IPO_TIME_AT_ADDRESS_UNIT
				,OBS.IPO_TIME_IN_COUNTRY_NUM
				,OBS.IPO_TIME_IN_COUNTRY_UNIT
				,OBS.IPO_TIME_IN_STATE_NUM
				,OBS.IPO_TIME_IN_STATE_UNIT
				,RTRIM(LTRIM(OBS.IPO_TYPE_OF_INSTITUTITION)) 
				,OBS.IPO_TYPE_OF_RESIDENCE
				,CAST(FORMAT(DIVW.IX_DATE, 'yyyy-MM-dd') AS datetime)  
				,INV.JURISDICTION_CD
				,INV.JURISDICTION_NM
				,LF.LAB_HIV_SPECIMEN_COLL_DT
				,LF.LAB_NONTREP_SYPH_RSLT_QNT
				,LF.LAB_NONTREP_SYPH_RSLT_QUA
				,LF.LAB_NONTREP_SYPH_TEST_TYP
				,LF.LAB_SYPHILIS_TST_PS_IND
				,LF.LAB_SYPHILIS_TST_RSLT_PS
				,LF.LAB_TESTS_PERFORMED
				,LF.LAB_TREP_SYPH_RESULT_QUAL
				,LF.LAB_TREP_SYPH_TEST_TYPE
				,MH.MDH_PREV_STD_HIST
				,CM.OOJ_AGENCY 
				,CAST(FORMAT(CM.OOJ_DUE_DATE, 'yyyy-MM-dd') AS datetime)  
				,CM.OOJ_NUMBER 
				,CAST(FORMAT(CM.OOJ_INITG_AGNCY_OUTC_DUE_DATE, 'yyyy-MM-dd') AS datetime)
				,CAST(FORMAT(CM.OOJ_INITG_AGNCY_OUTC_SNT_DATE, 'yyyy-MM-dd') AS datetime)
				,CAST(FORMAT(CM.OOJ_INITG_AGNCY_RECD_DATE, 'yyyy-MM-dd') AS datetime)
				,PC.ORDERING_FACILITY_KEY
				,INV.OUTBREAK_IND
				,INV.OUTBREAK_NAME
				,PAT.PATIENT_ADDL_GENDER_INFO
				,INV.PATIENT_AGE_AT_ONSET
				,INV.PATIENT_AGE_AT_ONSET_UNIT
				 -- EMULATING THE SAS PROCESS, NOT SURE WHY SAS DOES THIS BUT MAKING IT THE SAME
				,CASE
					WHEN PAT.PATIENT_AGE_REPORTED IS NULL 
						 AND PAT.PATIENT_AGE_REPORTED_UNIT IS NULL THEN '           .'
					WHEN PAT.PATIENT_AGE_REPORTED IS NULL THEN RTRIM('           .'+ ' ' + PAT.PATIENT_AGE_REPORTED_UNIT)
					WHEN PAT.PATIENT_AGE_REPORTED_UNIT IS NULL THEN (SELECT RIGHT('            ' + CAST(PAT.PATIENT_AGE_REPORTED AS VARCHAR(50)), 12))
					ELSE (SELECT RIGHT('            ' + CAST(PAT.PATIENT_AGE_REPORTED AS VARCHAR(50)), 12) + ' ' + PAT.PATIENT_AGE_REPORTED_UNIT)
				 END 
				,PAT.PATIENT_ALIAS_NICKNAME
				,PAT.PATIENT_BIRTH_COUNTRY
				,PAT.PATIENT_BIRTH_SEX
				,PAT.PATIENT_CENSUS_TRACT
				,PAT.PATIENT_CITY
				,PAT.PATIENT_COUNTRY
				,PAT.PATIENT_COUNTY
				,PAT.PATIENT_CURR_SEX_UNK_RSN
				,PAT.PATIENT_CURRENT_SEX
				,CAST(FORMAT(PAT.PATIENT_DECEASED_DATE, 'yyyy-MM-dd') AS datetime) 
				,PAT.PATIENT_DECEASED_INDICATOR
				,CAST(FORMAT(PAT.PATIENT_DOB, 'yyyy-MM-dd') AS datetime) 
				,PAT.PATIENT_EMAIL
				,PAT.PATIENT_ETHNICITY
				,PAT.PATIENT_LOCAL_ID
				,PAT.PATIENT_MARITAL_STATUS
				,RTRIM((ISNULL(RTRIM(LTRIM(PAT.PATIENT_LAST_NAME)), ' ') + ', ' + 
				  ISNULL(RTRIM(LTRIM(PAT.PATIENT_FIRST_NAME)), ' ') + ' ' + 
				  ISNULL(RTRIM(LTRIM(PAT.PATIENT_MIDDLE_NAME)), ''))) 
				,PAT.PATIENT_PHONE_CELL
				-- EMULATE SAS
				,CASE  
					  WHEN PAT.PATIENT_PHONE_EXT_HOME IS NULL THEN PAT.PATIENT_PHONE_HOME
					  ELSE ISNULL(PAT.PATIENT_PHONE_HOME, ' ') + ' Ext ' + PAT.PATIENT_PHONE_EXT_HOME
				 END 
				,CASE  
					  WHEN PAT.PATIENT_PHONE_EXT_WORK IS NULL THEN PAT.PATIENT_PHONE_WORK
					  ELSE ISNULL(PAT.PATIENT_PHONE_WORK, ' ') + ' Ext ' + PAT.PATIENT_PHONE_EXT_WORK
				 END 
				,PAT.PATIENT_PREFERRED_GENDER
				,INV.PATIENT_PREGNANT_IND
				,PAT.PATIENT_RACE_CALCULATED
				,CASE 
					WHEN PAT.PATIENT_PREFERRED_GENDER IS NULL THEN ISNULL(PAT.PATIENT_CURR_SEX_UNK_RSN, PAT.PATIENT_CURRENT_SEX)
					ELSE PAT.PATIENT_PREFERRED_GENDER
				 END 
				,PAT.PATIENT_STATE
				,PAT.PATIENT_STREET_ADDRESS_1
				,PAT.PATIENT_STREET_ADDRESS_2
				,PAT.PATIENT_UNK_ETHNIC_RSN
				,PAT.PATIENT_ZIP
				,PBI.PBI_IN_PRENATAL_CARE_IND
				,PBI.PBI_PATIENT_PREGNANT_WKS
				,PBI.PBI_PREG_AT_EXAM_IND
				,PBI.PBI_PREG_AT_EXAM_WKS
				,PBI.PBI_PREG_AT_IX_IND
				,PBI.PBI_PREG_AT_IX_WKS
				,PBI.PBI_PREG_IN_LAST_12MO_IND
				,PBI.PBI_PREG_OUTCOME_CD 
				,PC.PROVIDER_FLD_FOLLOW_UP_KEY 
				,PC.PHYSICIAN_KEY
				,COND.PROGRAM_AREA_CD
				,INV.CASE_OID 
				,PC.ORG_AS_REPORTER_KEY 
				,PC.PERSON_AS_REPORTER_KEY 
				,ICC.CTT_RPT_ELICIT_INTERNET_INFO 
				,ICC.CTT_RPT_FIRST_NDLSHARE_EXP_DT 
				,ICC.CTT_RPT_FIRST_SEX_EXP_DT 
				,ICC.CTT_RPT_LAST_NDLSHARE_EXP_DT 
				,MH.MDH_PROVIDER_REASON_VISIT_DT 
				,INV.REFERRAL_BASIS
				,ICC.CTT_RPT_LAST_SEX_EXP_DT 
				,ICC.CTT_RPT_MET_OP_INTERNET 
				,ICC.CTT_RPT_NDLSHARE_EXP_FREQ 
				,ICC.CTT_RPT_RELATIONSHIP_TO_OP 
				,ICC.CTT_RPT_SEX_EXP_FREQ 
				,INV.RPT_SRC_CD_DESC 
				,ICC.CTT_RPT_SPOUSE_OF_OP 
				,RI.RSK_BEEN_INCARCERATD_12MO_IND
				,RI.RSK_COCAINE_USE_12MO_IND
				,RI.RSK_CRACK_USE_12MO_IND
				,RI.RSK_ED_MEDS_USE_12MO_IND
				,RI.RSK_HEROIN_USE_12MO_IND
				,RI.RSK_INJ_DRUG_USE_12MO_IND
				,RI.RSK_METH_USE_12MO_IND
				,RI.RSK_NITR_POP_USE_12MO_IND
				,RI.RSK_NO_DRUG_USE_12MO_IND
				,RTRIM(LTRIM(RI.RSK_OTHER_DRUG_SPEC)) 
				,RI.RSK_OTHER_DRUG_USE_12MO_IND
				,RI.RSK_RISK_FACTORS_ASSESS_IND
				,RI.RSK_SEX_EXCH_DRGS_MNY_12MO_IND
				,RI.RSK_SEX_INTOXCTED_HGH_12MO_IND
				,RI.RSK_SEX_W_ANON_PTRNR_12MO_IND
				,RI.RSK_SEX_W_FEMALE_12MO_IND
				,RI.RSK_SEX_W_KNOWN_IDU_12MO_IND
				,RI.RSK_SEX_W_KNWN_MSM_12M_FML_IND
				,RI.RSK_SEX_W_MALE_12MO_IND
				,RI.RSK_SEX_W_TRANSGNDR_12MO_IND
				,RI.RSK_SEX_WOUT_CONDOM_12MO_IND
				,RI.RSK_SHARED_INJ_EQUIP_12MO_IND
				,RI.RSK_TARGET_POPULATIONS
				,SH.SOC_FEMALE_PRTNRS_12MO_IND
				,SH.SOC_FEMALE_PRTNRS_12MO_TTL
				,SH.SOC_MALE_PRTNRS_12MO_IND
				,SH.SOC_MALE_PRTNRS_12MO_TOTAL
				,SH.SOC_PLACES_TO_HAVE_SEX
				,SH.SOC_PLACES_TO_MEET_PARTNER
				,SH.SOC_PRTNRS_PRD_FML_IND
				,SH.SOC_PRTNRS_PRD_FML_TTL
				,SH.SOC_PRTNRS_PRD_MALE_IND
				,SH.SOC_PRTNRS_PRD_MALE_TTL
				,SH.SOC_PRTNRS_PRD_TRNSGNDR_IND
				,SH.SOC_SX_PRTNRS_INTNT_12MO_IND
				,SH.SOC_TRANSGNDR_PRTNRS_12MO_IND
				,SH.SOC_TRANSGNDR_PRTNRS_12MO_TTL
				,EPI.SOURCE_SPREAD
				,SH.SOC_PRTNRS_PRD_TRNSGNDR_TTL 
				,CM.SURV_CLOSED_DT
				,CM.SURV_INVESTIGATOR_ASSGN_DT
				,CM.SURV_PATIENT_FOLL_UP_CD
				,CM.SURV_PROVIDER_CONTACT_CD 
				,CM.SURV_PROVIDER_EXAM_REASON
				,SYM.SYM_NEUROLOGIC_SIGN_SYM
				,SYM.SYM_OCULAR_MANIFESTATIONS
				,SYM.SYM_OTIC_MANIFESTATION
				,SYM.SYM_LATE_CLINICAL_MANIFES
				,TRT.TRT_TREATMENT_DATE
		
			FROM F_STD_PAGE_CASE PC
				INNER JOIN INVESTIGATION INV ON INV.INVESTIGATION_KEY = PC.INVESTIGATION_KEY
				LEFT JOIN CONDITION COND ON COND.CONDITION_KEY = PC.CONDITION_KEY
				LEFT JOIN (SELECT DISTINCT INVESTIGATION_KEY, CONFIRMATION_DT         -- CAN HAVE MULTIPLE METHODS BUT THE DATE IS ALWAYS THE SAME
							FROM CONFIRMATION_METHOD_GROUP) AS CONF ON CONF.INVESTIGATION_KEY = PC.INVESTIGATION_KEY
				LEFT JOIN D_CASE_MANAGEMENT CM ON CM.INVESTIGATION_KEY = PC.INVESTIGATION_KEY
				LEFT JOIN D_INV_ADMINISTRATIVE AM ON AM.D_INV_ADMINISTRATIVE_KEY = PC.D_INV_ADMINISTRATIVE_KEY
				LEFT JOIN D_INV_CLINICAL CLN ON CLN.D_INV_CLINICAL_KEY = PC.D_INV_CLINICAL_KEY
				LEFT JOIN D_INV_COMPLICATION CMP ON CMP.D_INV_COMPLICATION_KEY = PC.D_INV_COMPLICATION_KEY
				LEFT JOIN D_INV_CONTACT ICC ON ICC.D_INV_CONTACT_KEY = PC.D_INV_CONTACT_KEY
				LEFT JOIN D_INV_EPIDEMIOLOGY EPI ON EPI.D_INV_EPIDEMIOLOGY_KEY = PC.D_INV_EPIDEMIOLOGY_KEY
				LEFT JOIN INV_HIV HIV ON HIV.INVESTIGATION_KEY = PC.INVESTIGATION_KEY
				LEFT JOIN D_INV_LAB_FINDING LF ON LF.D_INV_LAB_FINDING_KEY = PC.D_INV_LAB_FINDING_KEY
				LEFT JOIN D_INV_MEDICAL_HISTORY MH ON MH.D_INV_MEDICAL_HISTORY_KEY = PC.D_INV_MEDICAL_HISTORY_KEY
				LEFT JOIN D_INV_PATIENT_OBS OBS ON OBS.D_INV_PATIENT_OBS_KEY = PC.D_INV_PATIENT_OBS_KEY
				LEFT JOIN D_INV_PREGNANCY_BIRTH PBI ON PBI.D_INV_PREGNANCY_BIRTH_KEY = PC.D_INV_PREGNANCY_BIRTH_KEY
				LEFT JOIN D_INV_RISK_FACTOR RI ON RI.D_INV_RISK_FACTOR_KEY = PC.D_INV_RISK_FACTOR_KEY
				LEFT JOIN D_INV_SOCIAL_HISTORY SH ON SH.D_INV_SOCIAL_HISTORY_KEY = PC.D_INV_SOCIAL_HISTORY_KEY
				LEFT JOIN D_INV_SYMPTOM SYM ON SYM.D_INV_SYMPTOM_KEY = PC.D_INV_SYMPTOM_KEY
				LEFT JOIN D_INV_TREATMENT TRT ON TRT.D_INV_TREATMENT_KEY = PC.D_INV_TREATMENT_KEY
				LEFT JOIN D_PATIENT PAT ON PAT.PATIENT_KEY = PC.PATIENT_KEY
				LEFT JOIN D_PROVIDER INVEST ON INVEST.PROVIDER_KEY = PC.CLOSED_BY_KEY
											AND INVEST.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER CRNTI ON CRNTI.PROVIDER_KEY = PC.INVESTIGATOR_KEY
											AND CRNTI.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER DISP ON DISP.PROVIDER_KEY = PC.DISPOSITIONED_BY_KEY
											AND DISP.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER FLD ON FLD.PROVIDER_KEY = PC.INVSTGTR_FLD_FOLLOW_UP_KEY
											AND FLD.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER INITIV ON INITIV.PROVIDER_KEY = PC.INIT_ASGNED_INTERVIEWER_KEY
											AND INITIV.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER FUP ON FUP.PROVIDER_KEY = PC.INIT_ASGNED_FLD_FOLLOW_UP_KEY
											AND FUP.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER INIT ON INIT.PROVIDER_KEY = PC.INIT_FOLLOW_UP_INVSTGTR_KEY
											AND INIT.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER IVW ON IVW.PROVIDER_KEY = PC.INTERVIEWER_ASSIGNED_KEY
											AND IVW.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER SUPV ON SUPV.PROVIDER_KEY = PC.SUPRVSR_OF_CASE_ASSGNMENT_KEY
											AND SUPV.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER SUPVFUP ON SUPVFUP.PROVIDER_KEY = PC.SUPRVSR_OF_FLD_FOLLOW_UP_KEY
											AND SUPVFUP.PROVIDER_KEY != 1
				LEFT JOIN D_PROVIDER SURV ON SURV.PROVIDER_KEY = PC.SURVEILLANCE_INVESTIGATOR_KEY
											AND SURV.PROVIDER_KEY != 1
				LEFT JOIN (SELECT IXC.INVESTIGATION_KEY, DV.IX_DATE
							FROM F_INTERVIEW_CASE IXC
								LEFT JOIN D_INTERVIEW DV ON DV.D_INTERVIEW_KEY = IXC.D_INTERVIEW_KEY
							WHERE DV.IX_TYPE_CD = 'INITIAL'
							AND DV.RECORD_STATUS_CD = 'ACTIVE') DIVW ON DIVW.INVESTIGATION_KEY = PC.INVESTIGATION_KEY
			WHERE INV.RECORD_STATUS_CD = 'ACTIVE'
			  AND PC.PATIENT_KEY != 1);
		SELECT @RowCount_no = @@ROWCOUNT;
 		PRINT 'STD_HIV_DATAMART ENDING...'+ CONVERT(VARCHAR(20), GETDATE(),120) 

		INSERT INTO [dbo].[job_flow_log] (batch_id,[Dataflow_Name],[package_Name],[Status_Type],[step_number],[step_name],[row_count])
			   VALUES(@Batch_id,'STD_HIV_DATAMART','STD_HIV_DATAMART','START',@Proc_Step_no,@Proc_Step_name,@RowCount_no);

		COMMIT TRANSACTION;
		BEGIN TRANSACTION;
			if(@Proc_Step_no=4)
				SET @Proc_Step_no = 5;
			else if (@Proc_Step_no=3)
				SET @Proc_Step_no = 4;
		
			SET @Proc_Step_Name = 'SP_COMPLETE';
			INSERT INTO [dbo].[job_flow_log]
			(batch_id, 
			 [Dataflow_Name], 
			 [package_Name], 
			 [Status_Type], 
			 [step_number], 
			 [step_name], 
			 [row_count]
			)
			VALUES
			(@batch_id, 
			 'STD_HIV_DATAMART', 
			 'STD_HIV_DATAMART', 
			 'COMPLETE', 
			 @Proc_Step_no, 
			 @Proc_Step_name, 
			 @RowCount_no
			);
		COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END;
			SET @ErrorNumber = ERROR_NUMBER();
			SET @ErrorLine = ERROR_LINE();
			SET @ErrorMessage = ERROR_MESSAGE();
			SET @ErrorSeverity = ERROR_SEVERITY();
			SET @ErrorState = ERROR_STATE();
			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [Error_Description], [row_count] )
			VALUES( @Batch_id, 'STD_HIV_DATAMART', 'STD_HIV_DATAMART', 'ERROR', @Proc_Step_no, 'ERROR - '+@Proc_Step_name, 'Step -'+CAST(@Proc_Step_no AS varchar(3))+' -'+CAST(@ErrorMessage AS varchar(500)), 0 );
			RETURN -1;
		END CATCH;
	END;
END;
GO
