USE [rdb_modern]
GO
/****** Object:  StoredProcedure [dbo].[sp_INITPATIENT_TMP_POC]    Script Date: 1/17/2024 8:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_INITPATIENT_TMP_POC]
AS 
BEGIN
	
	SELECT TOP 10 -- Person + Participation
			PERSON.PERSON_UID AS  'PATIENT_UID',
			PERSON.LOCAL_ID AS  'PATIENT_LOCAL_ID',              
			PERSON.AGE_REPORTED,                 
			PERSON.AGE_REPORTED_UNIT_CD,
			PERSON.BIRTH_GENDER_CD,             
			PERSON.BIRTH_TIME AS  'PATIENT_DOB',  
			PERSON.CURR_SEX_CD,
			PERSON.DECEASED_IND_CD,
			PERSON.ADD_USER_ID,  
			PERSON.LAST_CHG_USER_ID,
			SPEAKS_ENGLISH_CD,
			ADDITIONAL_GENDER_CD AS 'PATIENT_ADDL_GENDER_INFO',
			ETHNIC_UNK_REASON_CD,
			SEX_UNK_REASON_CD,
			PREFERRED_GENDER_CD,
			PERSON.DECEASED_TIME AS  'PATIENT_DECEASED_DATE',
			RTRIM(LTRIM(Replace(Replace(PERSON.[description],CHAR(10),' '),CHAR(13),' '))) as 'PATIENT_GENERAL_COMMENTS' , -- VS TRANSLATE(PERSON.DESCRIPTION,' ' ,'0D0A'x)	as 'PATIENT_GENERAL_COMMENTS' ,
			PERSON.ELECTRONIC_IND AS  'PATIENT_ENTRY_METHOD',
			PERSON.ETHNIC_GROUP_IND,             
			PERSON.MARITAL_STATUS_CD,
			PERSON.PERSON_PARENT_UID AS  'PATIENT_MPR_UID', 
			PERSON.LAST_CHG_TIME AS  'PATIENT_LAST_CHANGE_TIME',
			PERSON.ADD_TIME AS  'PATIENT_ADD_TIME',
			PERSON.RECORD_STATUS_CD AS  'PATIENT_RECORD_STATUS',
			PERSON.OCCUPATION_CD,
			PERSON.PRIM_LANG_CD,
			PARTICIPATION.ACT_UID AS   'PATIENT_EVENT_UID',
			PARTICIPATION.TYPE_CD AS  'PATIENT_EVENT_TYPE'
		INTO  TMP_S_INITPATIENT_PARTICIPATION_TEMP_POC  
			FROM nbs_changedata.dbo.PERSON PERSON with ( nolock ), nbs_changedata.dbo.PARTICIPATION PARTICIPATION with ( nolock ) 
			WHERE 
		PERSON.PERSON_UID=PARTICIPATION.SUBJECT_ENTITY_UID
		AND PERSON.CD='PAT'
 
   
	SELECT DISTINCT TOP 10 --Person only selection
			PERSON.PERSON_UID AS  'PATIENT_UID',
			PERSON.LOCAL_ID AS  'PATIENT_LOCAL_ID',              
			PERSON.AGE_REPORTED,                 
			PERSON.AGE_REPORTED_UNIT_CD,
			PERSON.BIRTH_GENDER_CD,             
			PERSON.BIRTH_TIME AS  'PATIENT_DOB',  
			PERSON.CURR_SEX_CD,
			PERSON.DECEASED_IND_CD,
			PERSON.ADD_USER_ID,  
			PERSON.LAST_CHG_USER_ID,
			SPEAKS_ENGLISH_CD,
			ADDITIONAL_GENDER_CD AS 'PATIENT_ADDL_GENDER_INFO',
			ETHNIC_UNK_REASON_CD,
			SEX_UNK_REASON_CD,
			PREFERRED_GENDER_CD,
			PERSON.DECEASED_TIME AS  'PATIENT_DECEASED_DATE',
			RTRIM(LTRIM(Replace(Replace(PERSON.[description],CHAR(10),' '),CHAR(13),' '))) as 'PATIENT_GENERAL_COMMENTS' , -- VS TRANSLATE(PERSON.DESCRIPTION,' ' ,'0D0A'x)	as 'PATIENT_GENERAL_COMMENTS' ,
			PERSON.ELECTRONIC_IND AS  'PATIENT_ENTRY_METHOD',
			PERSON.ETHNIC_GROUP_IND,             
			PERSON.MARITAL_STATUS_CD,
			PERSON.PERSON_PARENT_UID AS  'PATIENT_MPR_UID', 
			PERSON.LAST_CHG_TIME AS  'PATIENT_LAST_CHANGE_TIME',
			PERSON.ADD_TIME AS  'PATIENT_ADD_TIME',
			PERSON.RECORD_STATUS_CD AS  'PATIENT_RECORD_STATUS',
			PERSON.OCCUPATION_CD,
			PERSON.PRIM_LANG_CD
		into  TMP_S_INITPATIENT_TEMP_POC 
			FROM nbs_changedata.dbo.PERSON PERSON
			WHERE PERSON.CD = 'PAT'
				
			
END

GO
