USE [rdb_modern]
GO
/****** Object:  StoredProcedure [dbo].[SP_PRE_RUN]    Script Date: 1/17/2024 8:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
1. Create following tables in RDB database and RDBdata for SAS  to set the start time for ETL process to begin
ACTIVITY_LOG_MASTER table
*/
CREATE   PROCEDURE [dbo].[SP_PRE_RUN]
@Batch_id BIGINT
as


INSERT INTO [dbo].[ACTIVITY_LOG_MASTER]
           ([activity_log_master_uid]
           ,[start_date]
           ,[refresh_ind]
           ,[REFRESH_DESCRIPTION]
			)
     VALUES
          ((select isNull(max(activity_log_master_uid)+1, 1) from [ACTIVITY_LOG_MASTER] )
           ,getDate()
		   ,'F'
           ,'ETL process initiated.');



	BEGIN
	DECLARE @RowCount_no int;
	DECLARE @Proc_Step_no float= 1;
	DECLARE @Proc_Step_Name varchar(200)= '';
	DECLARE @batch_start_time datetime2(7)= NULL;
	DECLARE @batch_end_time datetime2(7)= NULL;
	
  
		BEGIN TRY
	
			SET @Proc_Step_no = 1;
			SET @Proc_Step_Name = 'SP_PRE_RUN Start';
			SELECT @batch_id = batch_id, @batch_start_time = batch_start_dttm, @batch_end_time = batch_end_dttm
		FROM [dbo].[job_batch_log];
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN START', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;
			SET @Proc_Step_no = 2;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN : DROP MISSING_LAB_CASES, ETL_MISSING_PATIENT, UPDATED_LAB_TEST_LIST, S_UPDATED_LAB, UPDATED_OBSERVATION_LIST, ACTIVITY_STATUS ', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;

/*
Drop tables MISSING_LAB_CASES, ETL_MISSING_PATIENT, UPDATED_LAB_TEST_LIST, S_UPDATED_LAB, UPDATED_OBSERVATION_LIST, and ACTIVITY_STATUS as they contain incremental data 

*/	
				IF OBJECT_ID('dbo.MISSING_LAB_CASES', 'U') IS NOT NULL  
					drop table dbo.MISSING_LAB_CASES;
				IF OBJECT_ID('dbo.ETL_MISSING_PATIENT', 'U') IS NOT NULL  
					 drop table dbo.ETL_MISSING_PATIENT;
				IF OBJECT_ID('dbo.UPDATED_LAB_TEST_LIST', 'U') IS NOT NULL  
					drop table dbo.UPDATED_LAB_TEST_LIST;
				IF OBJECT_ID('dbo.S_UPDATED_LAB', 'U') IS NOT NULL  
					drop table dbo.S_UPDATED_LAB;
				IF OBJECT_ID('DBO.UPDATED_OBSERVATION_LIST', 'U') IS NOT NULL  
					drop table DBO.UPDATED_OBSERVATION_LIST;
				IF OBJECT_ID('DBO.ACTIVITY_STATUS', 'U') IS NOT NULL  
					drop table DBO.ACTIVITY_STATUS;
				IF OBJECT_ID('dbo.TEMP_UPDATED_LAB_INV_MAP', 'U') IS NOT NULL  
					drop table dbo.TEMP_UPDATED_LAB_INV_MAP;

			SET @Proc_Step_no = 3;		 
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE UPDATED_OBSERVATION_LIST CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;
			CREATE TABLE 
				dbo.UPDATED_OBSERVATION_LIST(
				OBSERVATION_UID numeric(20, 0) NULL
				) ;
		SELECT @RowCount_no = @@ROWCOUNT;

/*
UPDATE LAB100 and set patient_key=1 where the records have been superceded through NBS UI
*/

			SET @Proc_Step_no = 4;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER UPDATED_OBSERVATION_LIST CREATED', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
			COMMIT TRANSACTION;

			SET @Proc_Step_no = 5;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE LAB100 UPDATED FOR SUPERCEDED RECORDS', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;

			UPDATE 
				DBO.LAB100 
			SET PATIENT_KEY = 1 
			WHERE PATIENT_KEY IN 
				(SELECT 
					PATIENT_KEY 
				FROM 	
					nbs_changedata.dbo.PERSON PERSON with (nolock)
				INNER JOIN 
					dbo.D_PATIENT with (nolock)
				ON 
					D_PATIENT.PATIENT_MPR_UID = PERSON.PERSON_UID
				WHERE RECORD_STATUS_CD='SUPERCEDED'  
					AND LAST_CHG_TIME > 
					(SELECT  ISNULL(MAX(START_DATE), 0) 
			FROM dbo.ACTIVITY_LOG_MASTER WHERE  REFRESH_IND='T' AND REFRESH_DESCRIPTION ='ETL process completed.'));
			SELECT @RowCount_no = @@ROWCOUNT;
			SET @Proc_Step_no = 6;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER LAB100 UPDATED FOR SUPERCEDED RECORDS', @Proc_Step_no, @Proc_Step_Name, @RowCount_no);
			COMMIT TRANSACTION;
/*
CREATE TABLE MISSING_LAB_CASES THAT INCLUDES ALL THE CASES WHERE LAB00 IS MISSING PATIENT INFORMATION, PATIENT VERSION GOT SUERCEDED, AND NEW ELR COMMENTS ARE ADDED FOR THE ELR
*/

			SET @Proc_Step_no = 7;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE MISSING_LAB_CASES CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;
				Declare @count bigint=0
			set @count=(select config_value from nbs_odse.dbo.NBS_configuration where config_key = 'NUM_OF_PARTIAL_LAB100_QUEUE');

			SELECT 
					X.* 
					INTO dbo.MISSING_LAB_CASES
					FROM(
				SELECT  TOP(@count)
					LAB_RPT_LOCAL_ID as EVENT_LOCAL_ID , NULL AS ETL_MISSING_RECORD_UID, NULL AS PROCESS_UID, CAST(NULL AS VARCHAR(30)) AS PROCESS_DESCRIPTION, 0 AS PROCESSED_INDICATOR  FROM dbo.lab100 
				WHERE 
					PATIENT_KEY =1 OR PATIENT_KEY is NULL group by LAB_RPT_LOCAL_ID						
				UNION  SELECT 
					EVENT_LOCAL_ID as EVENT_LOCAL_ID,  ETL_MISSING_RECORD_UID, NULL AS PROCESS_UID, NULL AS PROCESS_DESCRIPTION, CAST(NULL AS VARCHAR(30)) AS PROCESSED_INDICATOR   FROM dbo.ETL_MISSING_RECORD 
				WHERE 
					PATIENT_UID IS NULL and PROCESSED_INDICATOR=0
				UNION SELECT 
					OBSERVATION.LOCAL_ID,NULL AS ETL_MISSING_RECORD_UID, NULL AS PROCESS_UID, NULL AS PROCESS_DESCRIPTION, CAST(NULL AS VARCHAR(30)) AS PROCESSED_INDICATOR  			
				FROM nbs_changedata.dbo.OBSERVATION OBSERVATION with (nolock)
					INNER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT_RELATIONSHIP with (nolock) ON
					ACT_RELATIONSHIP.TARGET_ACT_UID = OBSERVATION.OBSERVATION_UID 
				WHERE
					 OBSERVATION.ELECTRONIC_IND='Y'
					AND ACT_RELATIONSHIP.TYPE_CD='APND'
					AND ACT_RELATIONSHIP.LAST_CHG_TIME > (SELECT  ISNULL(MAX(START_DATE), 0) 
			FROM dbo.ACTIVITY_LOG_MASTER WHERE  REFRESH_IND='T' AND REFRESH_DESCRIPTION ='ETL process completed.'))X;
			SELECT @RowCount_no = @@ROWCOUNT;
			UPDATE MISSING_LAB_CASES SET PROCESS_DESCRIPTION='LAB100';
			UPDATE MISSING_LAB_CASES SET PROCESS_UID=(SELECT PROCESS_UID FROM dbo.ETL_PROCESS WHERE PROCESS_NAME='LAB100');
			SET @Proc_Step_no = 8;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER MISSING_LAB_CASES CREATED', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
			COMMIT TRANSACTION;

/*
CREATE ETL_MISSING_PATIENT TABLE THAT INCLUDES ALL THE RELATED PATIENT REVISIONS TIED TO THE LAB CASES CREATED BEFORE THIS STEP
*/
			SET @Proc_Step_no = 9;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE ETL_MISSING_PATIENT CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;
			SELECT DISTINCT 
				PERSON.PERSON_UID AS PATIENT_UID, MISSING_LAB_CASES.PROCESS_UID, MISSING_LAB_CASES.PROCESS_DESCRIPTION,
				MISSING_LAB_CASES.ETL_MISSING_RECORD_UID, PROCESSED_INDICATOR, ACT_UID AS EVENT_UID, TYPE_CD AS TYPE_CODE, OBSERVATION.LAST_CHG_TIME AS EVENT_LAST_CHG_TIME, 
				OBSERVATION.LOCAL_ID AS EVENT_LOCAL_ID , OBSERVATION.CTRL_CD_DISPLAY_FORM, PERSON.LAST_CHG_TIME AS PATIENT_LAST_CHG_TIME,
				CAST(NULL AS VARCHAR(300)) AS ADMIN_COMMENT
			INTO ETL_MISSING_PATIENT 
			FROM MISSING_LAB_CASES 
				INNER JOIN nbs_changedata.dbo.OBSERVATION OBSERVATION with (nolock)
					ON OBSERVATION.LOCAL_ID=MISSING_LAB_CASES.EVENT_LOCAL_ID
				INNER JOIN  nbs_changedata.dbo.PARTICIPATION PARTICIPATION with (nolock)
					ON OBSERVATION.OBSERVATION_UID=PARTICIPATION.ACT_UID
				AND PARTICIPATION.TYPE_CD IN ('PATSBJ')
				INNER JOIN nbs_changedata.dbo.PERSON PERSON with (nolock)
					ON PERSON.PERSON_UID= PARTICIPATION.SUBJECT_ENTITY_UID
					AND (OBSERVATION.LAST_CHG_TIME is null
					OR OBSERVATION.LAST_CHG_TIME<(SELECT  ISNULL(MAX(START_DATE), 0) FROM  dbo.ACTIVITY_LOG_DETAIL))
					;
			SELECT @RowCount_no = @@ROWCOUNT;
			UPDATE ETL_MISSING_PATIENT SET EVENT_LAST_CHG_TIME = PATIENT_LAST_CHG_TIME WHERE EVENT_LAST_CHG_TIME IS NULL;
			UPDATE ETL_MISSING_PATIENT SET ADMIN_COMMENT='The Observation local id is not a valid local id. Please check.' WHERE PATIENT_UID IS NULL;
			UPDATE ETL_MISSING_PATIENT SET ADMIN_COMMENT='LAB100 record found with missing patient information. This will be fixed in the current run of ETL.' WHERE EVENT_UID>0 AND PATIENT_UID>0;

			SET @Proc_Step_no = 10;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER ETL_MISSING_PATIENT CREATED', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
			COMMIT TRANSACTION;
/*
ETL_MISSING_PATIENT UPDATED WITH ADMIN_COMMENT IF THE LAB LOCAL ID IS VALID OR NOT.
*/
			SET @Proc_Step_no = 11;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE ETL_MISSING_RECORD NEW RECORDS INSERTED', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;

			
			INSERT INTO dbo.ETL_MISSING_RECORD(PATIENT_UID, PROCESS_UID, EVENT_UID, PROCESS_DESCRIPTION, PROCESSED_INDICATOR, TYPE_CODE, EVENT_LAST_CHG_TIME, EVENT_LOCAL_ID, ctrl_cd_display_form, PATIENT_LAST_CHG_TIME, ADMIN_COMMENT) 
			SELECT 
				PATIENT_UID, PROCESS_UID, EVENT_UID, PROCESS_DESCRIPTION, PROCESSED_INDICATOR, TYPE_CODE, EVENT_LAST_CHG_TIME, EVENT_LOCAL_ID, ctrl_cd_display_form, PATIENT_LAST_CHG_TIME, ADMIN_COMMENT 
				FROM ETL_MISSING_PATIENT
				WHERE ETL_MISSING_RECORD_UID IS NULL;
		SELECT @RowCount_no = @@ROWCOUNT;
			SET @Proc_Step_no = 12;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER ETL_MISSING_RECORD NEW RECORDS INSERTED', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
			COMMIT TRANSACTION;

/*
UPDATE ETL_MISSING_RECORD TABLE WITH PROCESS_UID, EVENT_UID, PROCESS_DESCRIPTION, PROCESSED_INDICATOR, TYPE_CODE, EVENT_LAST_CHG_TIME, EVENT_LOCAL_ID, ctrl_cd_display_form
 PATIENT_LAST_CHG_TIME AND  ADMIN_COMMENT INFORMATION
*/
			SET @Proc_Step_no = 13;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE ETL_MISSING_RECORD UPDATE', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;
			
			UPDATE
				ETL_MISSING_RECORD 
			SET
				ETL_MISSING_RECORD.PROCESS_UID = E_MSG_PAT.PROCESS_UID,
				ETL_MISSING_RECORD.EVENT_UID = E_MSG_PAT.EVENT_UID, ETL_MISSING_RECORD.PROCESS_DESCRIPTION= E_MSG_PAT.PROCESS_DESCRIPTION, 
				--ETL_MISSING_RECORD.PROCESSED_INDICATOR=E_MSG_PAT.PROCESSED_INDICATOR, 
				ETL_MISSING_RECORD.TYPE_CODE=E_MSG_PAT.TYPE_CODE, 
				ETL_MISSING_RECORD.EVENT_LAST_CHG_TIME=E_MSG_PAT.EVENT_LAST_CHG_TIME, ETL_MISSING_RECORD.EVENT_LOCAL_ID=E_MSG_PAT.EVENT_LOCAL_ID, 
				ETL_MISSING_RECORD.ctrl_cd_display_form=E_MSG_PAT.ctrl_cd_display_form, 
				ETL_MISSING_RECORD.PATIENT_LAST_CHG_TIME=E_MSG_PAT.PATIENT_LAST_CHG_TIME, ETL_MISSING_RECORD.ADMIN_COMMENT=E_MSG_PAT.ADMIN_COMMENT 
			
			FROM
				ETL_MISSING_RECORD
			INNER JOIN
				ETL_MISSING_PATIENT  E_MSG_PAT
			ON 
				ETL_MISSING_RECORD.ETL_MISSING_RECORD_UID = E_MSG_PAT.ETL_MISSING_RECORD_UID;
		SELECT @RowCount_no = @@ROWCOUNT;

			SET @Proc_Step_no = 14;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER ETL_MISSING_RECORD UPDATE', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
			COMMIT TRANSACTION;


	


/**
CREATE S_UPDATED_LAB TABLE THAT INCLUDES ALL THE ROOT OBSERVATIONS FROM THE ETL_MISSING_RECORD
*/
			SET @Proc_Step_no = 15;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE S_UPDATED_LAB CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
			COMMIT TRANSACTION;

			SELECT 
				CTRL_CD_DISPLAY_FORM, OBSERVATION_UID,LAST_CHG_TIME 
			INTO S_UPDATED_LAB 
			FROM 
				nbs_changedata.dbo.OBSERVATION with (nolock)
			WHERE 
				CTRL_CD_DISPLAY_FORM IN ('LabReport','MorbReport') 
				AND OBS_DOMAIN_CD_ST_1='Order'
				AND LAST_CHG_TIME  >(SELECT ISNULL(MAX(START_DATE), 0) FROM  ACTIVITY_LOG_MASTER WHERE  REFRESH_IND='T' AND REFRESH_DESCRIPTION ='ETL process completed.')
				AND  LAST_CHG_TIME <(SELECT ISNULL(MAX(START_DATE), GETDATE()) FROM  ACTIVITY_LOG_MASTER)
			UNION
			SELECT 
				CTRL_CD_DISPLAY_FORM,EVENT_UID AS OBSERVATION_UID ,EVENT_LAST_CHG_TIME AS  LAST_CHG_TIME  
			FROM 
				dbo.ETL_MISSING_RECORD 
			WHERE	
				PROCESSED_INDICATOR =0;

		SELECT @RowCount_no = @@ROWCOUNT;
			SET @Proc_Step_no = 16;
			BEGIN TRANSACTION;
				INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
				VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER S_UPDATED_LAB CREATED', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
			COMMIT TRANSACTION;

		
/*
CREATE TABLE UPDATED_OBSERVATION_LIST THAT INCLUDE ALL THE OBSERVATIONS(ROOT OBSERVATION, RESULTED TESTS, SUSCEPTIBILITIES, AND TRACK ISOLATEES
*/
		SET @Proc_Step_no = 17;
		BEGIN TRANSACTION;
			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
			VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE UPDATED_OBSERVATION_LIST CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
		COMMIT TRANSACTION;

		INSERT 	INTO dbo.UPDATED_OBSERVATION_LIST(OBSERVATION_UID)
		
SELECT OBSERVATION_UID FROM S_UPDATED_LAB
		UNION
		SELECT ACT1.SOURCE_ACT_UID AS OBSERVATION_UID FROM S_UPDATED_LAB LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT1 with (nolock) ON  S_UPDATED_LAB.OBSERVATION_UID= ACT1.TARGET_ACT_UID 
		WHERE SOURCE_ACT_UID IS NOT NULL	
		UNION
		SELECT ACT2.SOURCE_ACT_UID AS OBSERVATION_UID FROM S_UPDATED_LAB LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT1 with (nolock)  ON  S_UPDATED_LAB.OBSERVATION_UID= ACT1.TARGET_ACT_UID 
																		 LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT2 with (nolock)  ON ACT1.SOURCE_ACT_UID=ACT2.TARGET_ACT_UID  
		WHERE ACT2.SOURCE_ACT_UID IS NOT NULL	
		UNION
		SELECT ACT3.SOURCE_ACT_UID AS OBSERVATION_UID FROM S_UPDATED_LAB LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT1 with (nolock)  ON  S_UPDATED_LAB.OBSERVATION_UID= ACT1.TARGET_ACT_UID 
																		LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT2 with (nolock) ON ACT1.SOURCE_ACT_UID=ACT2.TARGET_ACT_UID  
																		LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT3 with (nolock) ON ACT2.SOURCE_ACT_UID=ACT3.TARGET_ACT_UID
		WHERE ACT3.SOURCE_ACT_UID IS NOT NULL	
		UNION
		SELECT ACT4.SOURCE_ACT_UID AS OBSERVATION_UID FROM S_UPDATED_LAB LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT1 with (nolock) ON  S_UPDATED_LAB.OBSERVATION_UID= ACT1.TARGET_ACT_UID 
																		LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT2 with (nolock) ON ACT1.SOURCE_ACT_UID=ACT2.TARGET_ACT_UID  
																		LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT3 with (nolock) ON ACT2.SOURCE_ACT_UID=ACT3.TARGET_ACT_UID
																		LEFT OUTER JOIN nbs_changedata.dbo.ACT_RELATIONSHIP ACT4 with (nolock) ON ACT3.SOURCE_ACT_UID=ACT4.TARGET_ACT_UID
		WHERE ACT4.SOURCE_ACT_UID IS NOT NULL	
																		;
		SELECT @RowCount_no = @@ROWCOUNT;
		SELECT LAB_TEST_UID, LAB_TEST_KEY 
		INTO DBO.UPDATED_LAB_TEST_LIST
		FROM DBO.LAB_TEST 
		WHERE ROOT_ORDERED_TEST_PNTR 
		IN ( SELECT OBSERVATION_UID FROM UPDATED_OBSERVATION_LIST);

		SET @Proc_Step_no = 18;
		BEGIN TRANSACTION;
			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
			VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER UPDATED_OBSERVATION_LIST CREATED', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
		COMMIT TRANSACTION;



/*
CREATE TABLE ACTIVITY_STATUS THAT CONTAINS ALL THE UPDATE LABS COUNT FOR LAB100.
*/
		SET @Proc_Step_no = 19;
		BEGIN TRANSACTION;
			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
			VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: BEFORE ACTIVITY_STATUS CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
		COMMIT TRANSACTION;

		CREATE TABLE DBO.ACTIVITY_STATUS
		(
		UPDATE_COUNT [numeric](18, 0) NULL
		) 


		INSERT INTO DBO.ACTIVITY_STATUS (UPDATE_COUNT)
		SELECT COUNT(RESULTED_LAB_TEST_KEY)  FROM DBO.LAB100 WHERE RESULTED_LAB_TEST_KEY IN (SELECT LAB_TEST_KEY 
		FROM DBO.UPDATED_LAB_TEST_LIST);

		SET @Proc_Step_no = 20;
		BEGIN TRANSACTION;
			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
			VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN: AFTER ACTIVITY_STATUS CREATED', @Proc_Step_no, @Proc_Step_Name, 0 );
		COMMIT TRANSACTION;
		SET @Proc_Step_no = 21;
		BEGIN TRANSACTION;
			CREATE CLUSTERED INDEX [UPDATED_LAB_TEST_LIST] ON [dbo].[UPDATED_LAB_TEST_LIST]
			(
			 [LAB_TEST_UID] ASC
			)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
			
						PRINT 'UPDATED_OBSERVATION_LIST ' + CONVERT(VARCHAR, GETDATE(), 9);

			---DELETE FROM L_OBSERVATION_MAP WHERE OBSERVATION_UID IN (SELECT DISTINCT OBSERVATION_UID FROM UPDATED_OBSERVATION_LIST);
			UPDATE STATISTICS L_OBSERVATION_MAP;
			DELETE map FROM  L_OBSERVATION_MAP map
			inner join  UPDATED_OBSERVATION_LIST on map.OBSERVATION_UID =UPDATED_OBSERVATION_LIST.OBSERVATION_UID;
						PRINT 'UPDATED_LAB_TEST_LIST ' + CONVERT(VARCHAR, GETDATE(), 9);

			
			--DELETE FROM LAB_RESULT_VAL WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS LAB_RESULT_VAL;
			DELETE map FROM  LAB_RESULT_VAL map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;
						PRINT 'LAB_TEST_RESULT ' + CONVERT(VARCHAR, GETDATE(), 9);


			--DELETE FROM LAB_TEST_RESULT WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS LAB_TEST_RESULT;
			SELECT map.INVESTIGATION_KEY, map.LAB_TEST_KEY INTO TEMP_UPDATED_LAB_INV_MAP  FROM  LAB_TEST_RESULT map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID WHERE INVESTIGATION_KEY >1;

		
			DELETE map FROM  LAB_TEST_RESULT map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;

						PRINT 'TEST_RESULT_GROUPING ' + CONVERT(VARCHAR, GETDATE(), 9);

			--DELETE FROM TEST_RESULT_GROUPING WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS TEST_RESULT_GROUPING;
			DELETE map FROM  TEST_RESULT_GROUPING map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;

						PRINT 'LAB_RESULT_COMMENT ' + CONVERT(VARCHAR, GETDATE(), 9);

			--DELETE FROM LAB_RESULT_COMMENT WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS LAB_RESULT_COMMENT;
			DELETE map FROM  LAB_RESULT_COMMENT map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;

						PRINT 'RESULT_COMMENT_GROUP ' + CONVERT(VARCHAR, GETDATE(), 9);

			--DELETE FROM RESULT_COMMENT_GROUP WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS RESULT_COMMENT_GROUP;
			DELETE map FROM  RESULT_COMMENT_GROUP map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;

						PRINT 'LAB_RPT_USER_COMMENT ' + CONVERT(VARCHAR, GETDATE(), 9);

			--DELETE FROM LAB_RPT_USER_COMMENT WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS LAB_RPT_USER_COMMENT;
			DELETE map FROM  LAB_RPT_USER_COMMENT map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;

						PRINT 'LAB_TEST ' + CONVERT(VARCHAR, GETDATE(), 9);

			--DELETE FROM LAB_TEST WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS LAB_TEST;
			DELETE map FROM  LAB_TEST map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;

						PRINT 'UPDATED_LAB_TEST_LIST ' + CONVERT(VARCHAR, GETDATE(), 9);

			--DELETE FROM L_LAB_TEST WHERE LAB_TEST_UID IN ( SELECT LAB_TEST_UID FROM UPDATED_LAB_TEST_LIST) ;
			UPDATE STATISTICS L_LAB_TEST;
			DELETE map FROM  L_LAB_TEST map
			inner join  UPDATED_LAB_TEST_LIST on map.LAB_TEST_UID =UPDATED_LAB_TEST_LIST.LAB_TEST_UID;
						PRINT 'UPDATED_LAB_TEST_LIST ' + CONVERT(VARCHAR, GETDATE(), 9);


			--DELETE FROM LAB100 WHERE RESULTED_LAB_TEST_KEY IN (SELECT LAB_TEST_KEY FROM UPDATED_LAB_TEST_LIST);
			UPDATE STATISTICS LAB100;
			DELETE map FROM  LAB100 map
			inner join  UPDATED_LAB_TEST_LIST on map.RESULTED_LAB_TEST_KEY =UPDATED_LAB_TEST_LIST.LAB_TEST_KEY;

			PRINT 'done!! ' + CONVERT(VARCHAR, GETDATE(), 9);

			INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
			VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'PRE-RUN:Lab Tables updated', @Proc_Step_no, @Proc_Step_Name, 0 );
		COMMIT TRANSACTION;

		END TRY
 BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
		ROLLBACK TRANSACTION;
	END;

	DECLARE @ErrorNumber int= ERROR_NUMBER();
	DECLARE @ErrorLine int= ERROR_LINE();
	DECLARE @ErrorMessage nvarchar(4000)= ERROR_MESSAGE();
	DECLARE @ErrorSeverity int= ERROR_SEVERITY();
	DECLARE @ErrorState int= ERROR_STATE();

	SET @Proc_Step_no = 21;
	INSERT INTO [dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [Error_Description], [row_count] )
	VALUES( @batch_id, 'SP_PRE_RUN', 'SP_PRE_RUN', 'ERROR', @Proc_Step_no, 'ERROR - '+@Proc_Step_name, 'Step -'+CAST(@Proc_Step_no AS varchar(3))+' -'+CAST(@ErrorMessage AS varchar(500)), 0 );
	 THROW; 
	 End Catch

	 end
	 CREATE INDEX OBSERVATION_UID ON UPDATED_OBSERVATION_LIST(OBSERVATION_UID);

	 
GO
