USE [rdb_modern]
GO
/****** Object:  StoredProcedure [dbo].[SP_COVID_LAB_CELR_DATAMART]    Script Date: 1/17/2024 8:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COVID_LAB_CELR_DATAMART]
AS
    BEGIN
        DECLARE @conditionCd VARCHAR(200);
        SET @conditionCd = '11065';
        BEGIN TRY
            
            BEGIN TRANSACTION;
            IF OBJECT_ID('dbo.COVID_LAB_CELR_DATAMART', 'U') IS NOT NULL
                DROP TABLE dbo.COVID_LAB_CELR_DATAMART;
   
SELECT * INTO dbo.COVID_LAB_CELR_DATAMART
FROM (
SELECT results.*
FROM (SELECT 
NULL AS ILLNESS_ONSET_DATE,
NULL AS PREGNANT,
NULL AS SYMPTOMATIC_FOR_DISEASE,
 NULL AS EMPLOYED_IN_HEALTHCARE,
 NULL AS FIRST_TEST,
 NULL AS HOSPITALIZED,
 NULL AS ICU,
 NULL AS RESIDENT_CONGREGATE_SETTING,
 NULL AS ORDERING_PROVIDER_ID,
 NULL AS PATIENT_DEATH_DATE,
 NULL AS PATIENT_DEATH_IND,
 NULL AS SPECIMEN_SOURCE_SITE_CD,
 NULL AS SPECIMEN_SOURCE_SITE_DESC,
 NULL AS ORDER_TEST_DATE,
 NULL AS PERFORM_FACILITY_COUNTY,
 NULL AS DEVICE_INSTANCE_ID_1,
 NULL AS DEVICE_INSTANCE_ID_2,
 NULL AS DEVICE_TYPE_ID_1,
 NULL AS DEVICE_TYPE_ID_2
  
) AS test
CROSS APPLY
(
SELECT 
	COVID_LAB_DATAMART.Testing_Lab_Accession_Number AS Testing_lab_accession_number,
	COVID_LAB_DATAMART.SPECIMEN_ID AS Testing_lab_specimen_ID,
	NULL AS Submitter_unique_sample_ID,
	NULL AS Submitter_sample_ID_assigner,
	COALESCE(COVID_LAB_DATAMART.REPORTING_FACILITY_NAME, 'NULL') AS Testing_lab_name,
	COVID_LAB_DATAMART.REPORTING_FACILITY_CLIA AS Testing_lab_ID,
	CASE
		WHEN COVID_LAB_DATAMART.REPORTING_FACILITY_CLIA IS NULL THEN NULL
		WHEN COVID_LAB_DATAMART.REPORTING_FACILITY_CLIA IS NOT NULL THEN 'CLIA'
	END AS Testing_lab_ID_type,	
	CASE 
		WHEN (COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE is not NULL AND COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE <>'' AND COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO is not NULL AND COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO <>'') THEN CONCAT(COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE,'; ',COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO) 
		WHEN (COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE is not NULL AND COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE <>'') AND (COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO is NULL OR COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO ='') THEN COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE 
		WHEN (COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE is NULL OR COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_ONE ='') AND (COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO is NOT NULL AND COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO <> '') THEN COVID_LAB_DATAMART.REPORTING_FACILITY_ADDRESS_TWO 
	
	ELSE NULL
	END AS 'Testing_lab_street_address',
	COVID_LAB_DATAMART.REPORTING_FACILITY_CITY AS Testing_lab_city,
	COVID_LAB_DATAMART.REPORTING_FACILITY_STATE AS Testing_lab_state,
	SUBSTRING(COVID_LAB_DATAMART.REPORTING_FACILITY_ZIP_CD,0,6) AS Testing_lab_zip_code,
	COVID_LAB_DATAMART.PATIENT_LOCAL_ID AS Patient_ID,
	'NBS' AS Patient_ID_assigner,
	'PI' AS Patient_ID_type,
	COVID_LAB_DATAMART.BIRTH_DT AS Patient_DOB,
	COVID_LAB_DATAMART.CURRENT_SEX_CD AS Patient_gender,
	CONVERT(VARCHAR(MAX),COVID_LAB_DATAMART.PATIENT_RACE_CALC) AS Patient_race,
	COVID_LAB_DATAMART.CITY AS Patient_city,
	COALESCE(COALESCE((SELECT state_nm FROM nbs_srte.dbo.state_code WHERE state_cd = COVID_LAB_DATAMART.STATE ),state ),'NULL') AS Patient_state,
	SUBSTRING(COVID_LAB_DATAMART.ZIP_CODE,0,6) AS Patient_zip_code,
	CASE WHEN ISNUMERIC(COVID_LAB_DATAMART.COUNTY_CD)=1 AND LEN(COVID_LAB_DATAMART.COUNTY_CD)=4 THEN CONCAT('0',COVID_LAB_DATAMART.COUNTY_CD)
	ELSE  COVID_LAB_DATAMART.COUNTY_CD
	END AS Patient_county,


	COVID_LAB_DATAMART.PATIENT_ETHNICITY AS Patient_ethnicity,
	COVID_LAB_DATAMART.AGE_REPORTED AS Patient_Age,
	COVID_LAB_DATAMART.AGE_UNIT_CD AS Patient_Age_Units,
	
	--CONVERT(VARCHAR(MAX),FORMAT(COVID_LAB_DATAMART.ILLNESS_ONSET_DT, 'yyyyMMddHHmmss')) AS Illness_Onset_Date,
	CONVERT(VARCHAR(MAX), ILLNESS_ONSET_DATE, 120) AS Illness_Onset_Date,

	--ILLNESS_ONSET_DT AS Illness_Onset_Date,
/*

	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'ILLNESS_ONSET_DT' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN CONVERT(VARCHAR(MAX),FORMAT(ILLNESS_ONSET_DT, 'yyyyMMddHHmmss'))

	ELSE NULL

	END AS Illness_Onset_Date,


*/
	PREGNANT AS Pregnant,
	
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'PATIENT_PREGNANT_IND' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN PATIENT_PREGNANT_IND

	ELSE NULL

	END AS Pregnant,


*/

	SYMPTOMATIC_FOR_DISEASE AS Symptomatic_for_disease,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'SYMPTOMATIC' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN SYMPTOMATIC

	ELSE NULL

	END AS Symptomatic_for_disease,
*/	
	
	NULL AS Patient_location,
	NULL AS Employed_in_high_risk_setting,
	CONVERT(VARCHAR(MAX),COVID_LAB_DATAMART.ASSOCIATED_CASE_ID) AS Public_Health_Case_ID,
	
	
	CASE
		
		WHEN (COVID_LAB_DATAMART.SPECIMEN_DESC='' OR COVID_LAB_DATAMART.SPECIMEN_DESC IS NULL) AND  (COVID_LAB_DATAMART.SPECIMEN_TYPE_FREE_TEXT='' OR COVID_LAB_DATAMART.SPECIMEN_TYPE_FREE_TEXT IS NULL) 
		 AND  (COVID_LAB_DATAMART.SPECIMEN_CD='' OR COVID_LAB_DATAMART.SPECIMEN_CD IS NULL) THEN '119324002'
		ELSE SPECIMEN_CD
	END AS Specimen_type_code,
	CASE
		WHEN (COVID_LAB_DATAMART.SPECIMEN_DESC='' OR COVID_LAB_DATAMART.SPECIMEN_DESC IS NULL) AND (COVID_LAB_DATAMART.SPECIMEN_CD IS NOT NULL AND COVID_LAB_DATAMART.SPECIMEN_CD <>'')  THEN dbo.escapeSpecialCharacters(SPECIMEN_CD)
		WHEN (COVID_LAB_DATAMART.SPECIMEN_DESC='' OR COVID_LAB_DATAMART.SPECIMEN_DESC IS NULL) AND  (COVID_LAB_DATAMART.SPECIMEN_CD IS NULL OR COVID_LAB_DATAMART.SPECIMEN_CD ='')  AND  (COVID_LAB_DATAMART.SPECIMEN_TYPE_FREE_TEXT='' OR COVID_LAB_DATAMART.SPECIMEN_TYPE_FREE_TEXT IS NULL) THEN 'Specimen of unknown material'
		ELSE  dbo.escapeSpecialCharacters(SPECIMEN_DESC)
	END AS Specimen_type_description,
		
	CASE
		WHEN (COVID_LAB_DATAMART.SPECIMEN_DESC='' OR COVID_LAB_DATAMART.SPECIMEN_DESC IS NULL) AND (COVID_LAB_DATAMART.SPECIMEN_CD IS NULL OR COVID_LAB_DATAMART.SPECIMEN_CD ='')  AND  (COVID_LAB_DATAMART.SPECIMEN_TYPE_FREE_TEXT='' OR COVID_LAB_DATAMART.SPECIMEN_TYPE_FREE_TEXT IS NULL) THEN 'SCT'	
		ELSE NULL
	END AS Specimen_type_code_system,
	
	
	dbo.escapeSpecialCharacters(COVID_LAB_DATAMART.Specimen_type_free_text) AS Specimen_type_free_text,
	COALESCE(CONVERT(VARCHAR(23), COVID_LAB_DATAMART.SPECIMEN_COLL_DT, 121),'0000') AS Specimen_collection_date_time,
	NULL AS Specimen_received_date_time,
	'NULL' AS Ordering_entity_name,
	COVID_LAB_DATAMART.ORDERING_PROVIDER_LAST_NAME AS Ordering_provider_last_name,
	COVID_LAB_DATAMART.ORDERING_PROVIDER_FIRST_NAME AS Ordering_provider_first_name,
	
	CASE 
		WHEN (COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE is not NULL AND COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE <>'' AND COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO is not NULL AND COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO <>'') THEN CONCAT(COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE,'; ',COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO) 
		WHEN (COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE is not NULL AND COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE <>'') AND (COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO is NULL OR COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO ='') THEN COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE 
		WHEN (COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE is NULL OR COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_ONE ='') AND (COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO is NOT NULL AND COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO <> '') THEN COVID_LAB_DATAMART.ORDERING_PROVIDER_ADDRESS_TWO 
	
	ELSE NULL
	END AS 'Ordering_provider_street',

	
	COVID_LAB_DATAMART.ORDERING_PROVIDER_CITY AS Ordering_provider_city,
	COALESCE(Ordering_provider_state,'NULL') AS Ordering_provider_state,
	SUBSTRING(COVID_LAB_DATAMART.ORDERING_PROVIDER_ZIP_CD,0,6) AS Ordering_provider_zip_code,
	COVID_LAB_DATAMART.ORDERING_FACILITY_NAME AS Ordering_facility_name,
	
	CASE 
		WHEN (COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE is not NULL AND COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE <>'' AND COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO is not NULL AND COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO <>'') THEN CONCAT(COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE,'; ',COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO) 
		WHEN (COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE is not NULL AND COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE <>'') AND (COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO is NULL OR COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO ='') THEN COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE 
		WHEN (COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE is NULL OR COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_ONE ='') AND (COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO is NOT NULL AND COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO <> '') THEN COVID_LAB_DATAMART.ORDERING_FACILITY_ADDRESS_TWO 
	
	ELSE ''
	END AS 'Ordering_facility_street',

	COVID_LAB_DATAMART.ORDERING_FACILITY_CITY AS Ordering_facility_city,
	COALESCE(Ordering_facility_state,'NULL') AS Ordering_facility_state,
	SUBSTRING(COVID_LAB_DATAMART.ORDERING_FACILITY_ZIP_CD,0,6) AS Ordering_facility_zip_code,
	COVID_LAB_DATAMART.ORDERING_FACILITY_PHONE_NBR AS Ordering_facility_phone_number,
	COVID_LAB_DATAMART.ORDER_RESULT_STATUS AS Order_result_status,
	COVID_LAB_DATAMART.LAB_RPT_RECEIVED_BY_PH_DT AS Date_result_released,
	COVID_LAB_DATAMART.ORDERED_TEST_CD AS Ordered_test_code,
	dbo.escapeSpecialCharacters(COVID_LAB_DATAMART.ORDERED_TEST_DESC) AS Ordered_test_description,
	COVID_LAB_DATAMART.ORDERED_TEST_CODE_SYSTEM AS Ordered_test_code_system,
	COVID_LAB_DATAMART.RESULTED_TEST_CD AS Test_performed_code,
	dbo.escapeSpecialCharacters(COVID_LAB_DATAMART.RESULTED_TEST_DESC) AS Test_performed_description,
	COVID_LAB_DATAMART.RESULTED_TEST_CODE_SYSTEM AS Test_performed_code_system,
	COVID_LAB_DATAMART.RESULT_CD AS Test_result_coded,
	dbo.escapeSpecialCharacters(COVID_LAB_DATAMART.RESULT_DESC)  AS Test_result_description,
	COVID_LAB_DATAMART.RESULT_CD_SYS AS Test_result_code_system,
	dbo.escapeSpecialCharacters(CONVERT(VARCHAR(MAX),COVID_LAB_DATAMART.TEXT_RESULT_DESC)) AS Test_Result_free_text,
	COVID_LAB_DATAMART.NUMERIC_COMPARATOR_CD AS Test_result_comparator,
	COVID_LAB_DATAMART.NUMERIC_VALUE_1 AS Test_result_number,
	COVID_LAB_DATAMART.NUMERIC_SEPARATOR_CD AS Test_result_number_separator,
	COVID_LAB_DATAMART.NUMERIC_VALUE_2 AS Test_result_number2,
	COVID_LAB_DATAMART.NUMERIC_UNIT_CD AS Test_result_units,
	
	CASE 
		WHEN (COVID_LAB_DATAMART.NUMERIC_LOW_RANGE is not NULL AND COVID_LAB_DATAMART.NUMERIC_LOW_RANGE <>'' AND COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE is not NULL AND COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE <>'') THEN CONCAT(COVID_LAB_DATAMART.NUMERIC_LOW_RANGE,'-',COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE) 
		WHEN (COVID_LAB_DATAMART.NUMERIC_LOW_RANGE is not NULL AND COVID_LAB_DATAMART.NUMERIC_LOW_RANGE <>'') AND (COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE is NULL OR COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE ='') THEN COVID_LAB_DATAMART.NUMERIC_LOW_RANGE 
		WHEN (COVID_LAB_DATAMART.NUMERIC_LOW_RANGE is NULL OR COVID_LAB_DATAMART.NUMERIC_LOW_RANGE ='') AND (COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE is NOT NULL AND COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE <> '') THEN COVID_LAB_DATAMART.NUMERIC_HIGH_RANGE 
	
	ELSE NULL
	END AS 'Reference_range',

	COALESCE(NULLIF(TRIM(COVID_LAB_DATAMART.INTERPRETATION_DESC),''),'F')  AS Abnormal_flag,
	NULL AS Test_method_description,
	COALESCE(COVID_LAB_DATAMART.TEST_RESULT_STATUS, 'NULL') AS Test_result_status,
	COVID_LAB_DATAMART.Lab_Report_Dt AS Test_date,
	COVID_LAB_DATAMART.REPORTING_FACILITY_NAME AS Reporting_facility_name,
	COVID_LAB_DATAMART.REPORTING_FACILITY_CLIA AS Reporting_facility_ID,
	COVID_LAB_DATAMART.LAB_UPDATE_DT AS lab_update_dt,-- column removed as per feedback received on 11/13/2020 -- and column restored as per NBSCentral ticket #14997
	NULL AS Report_facil_data_source_app,
	'V2020-07-30' AS csv_file_version_no,
	getDate() AS File_created_date,
	EMPLOYED_IN_HEALTHCARE AS Employed_in_healthcare,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'EMPLOYED_IN_HEALTHCARE' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN EMPLOYED_IN_HEALTHCARE

	ELSE NULL

	END AS Employed_in_healthcare,
	
	*/
	FIRST_TEST			AS First_test,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'FIRST_TEST' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN FIRST_TEST

	ELSE NULL

	END AS First_test,
	*/
	
	HOSPITALIZED			AS Hospitalized,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'HOSPITALIZED' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN HOSPITALIZED

	ELSE NULL

	END AS Hospitalized,
	*/
	ICU			AS ICU,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'ICU' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN ICU

	ELSE NULL

	END AS ICU,
	
	*/
	RESIDENT_CONGREGATE_SETTING			AS Resident_congregate_setting,
	/*
		
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'RESIDENT_CONGREGATE_SETTING' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN RESIDENT_CONGREGATE_SETTING

	ELSE NULL

	END AS Resident_congregate_setting,
	
	*/
	NULL AS Most_recent_test_date,
	NULL AS Most_recent_test_result,
	NULL AS Most_recent_test_type,
	NULL AS Disease_symptoms,
	NULL AS Patient_occupation,
	NULL AS Patient_residency_type,

	CASE WHEN ISNUMERIC(COVID_LAB_DATAMART.ORDERING_FACILITY_COUNTY)=1 AND LEN(COVID_LAB_DATAMART.ORDERING_FACILITY_COUNTY)=4 THEN CONCAT('0',COVID_LAB_DATAMART.ORDERING_FACILITY_COUNTY)
	ELSE  COVID_LAB_DATAMART.ORDERING_FACILITY_COUNTY
	END AS Ordering_facility_county,
	
	CASE WHEN ISNUMERIC(COVID_LAB_DATAMART.ORDERING_PROVIDER_COUNTY)=1 AND LEN(COVID_LAB_DATAMART.ORDERING_PROVIDER_COUNTY)=4 THEN CONCAT('0',COVID_LAB_DATAMART.ORDERING_PROVIDER_COUNTY)
	ELSE  COVID_LAB_DATAMART.ORDERING_PROVIDER_COUNTY
	END AS Ordering_provider_county,
	
	
	ORDERING_PROVIDER_ID	AS Ordering_provider_ID,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'ORDERING_PROVIDER_ID' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN ORDERING_PROVIDER_ID

	ELSE NULL

	END AS Ordering_provider_ID,
	
	*/
	PATIENT_DEATH_DATE	AS Patient_death_date,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'PATIENT_DEATH_DATE' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN PATIENT_DEATH_DATE

	ELSE NULL

	END AS Patient_death_date,
	
	*/
	PATIENT_DEATH_IND	AS Patient_death_indicator,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'PATIENT_DEATH_IND' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN PATIENT_DEATH_IND

	ELSE NULL

	END AS Patient_death_indicator,
	
	*/
	SPECIMEN_SOURCE_SITE_CD	AS Specimen_source_site_code,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'SPECIMEN_SOURCE_SITE_CD' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN SPECIMEN_SOURCE_SITE_CD

	ELSE NULL

	END AS Specimen_source_site_code,
	
	*/
	NULL AS Specimen_source_site_code_sys,
	
	SPECIMEN_SOURCE_SITE_DESC AS Specimen_source_site_descrip,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'SPECIMEN_SOURCE_SITE_DESC' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN SPECIMEN_SOURCE_SITE_DESC

	ELSE NULL

	END AS Specimen_source_site_descrip,
	
	*/
	ORDER_TEST_DATE AS Order_test_date,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'ORDER_TEST_DATE' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN ORDER_TEST_DATE

	ELSE NULL

	END AS Order_test_date,
	*/
	testing_lab_county AS Testing_lab_county,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'PERFORM_FACILITY_COUNTY' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN PERFORM_FACILITY_COUNTY

	ELSE NULL

	END AS Testing_lab_county,
	*/
	DEVICE_INSTANCE_ID_1 AS Device_instance_ID_1,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'DEVICE_INSTANCE_ID_1' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN DEVICE_INSTANCE_ID_1

	ELSE NULL

	END AS Device_instance_ID_1,
	*/
	DEVICE_INSTANCE_ID_2	AS Device_instance_ID_2,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'DEVICE_INSTANCE_ID_2' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN DEVICE_INSTANCE_ID_2

	ELSE NULL

	END AS Device_instance_ID_2,
	
	*/
	DEVICE_TYPE_ID_1	AS Device_type_ID_1,
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'DEVICE_TYPE_ID_1' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN DEVICE_TYPE_ID_1

	ELSE NULL

	END AS Device_type_ID_1,
*/	
	DEVICE_TYPE_ID_2	AS Device_type_ID_2
	/*
	CASE

	WHEN (SELECT COUNT(*) FROM SYS.COLUMNS WHERE NAME = N'DEVICE_TYPE_ID_2' AND OBJECT_ID = OBJECT_ID(N'COVID_LAB_DATAMART'))=1

	THEN DEVICE_TYPE_ID_2

	ELSE NULL

	END AS Device_type_ID_2
*/	
	--INTO dbo.COVID_LAB_CELR_DATAMART
FROM  DBO.COVID_LAB_DATAMART

)AS results) as results2
 --LEFT OUTER JOIN
      --DBO.COVID_CASE_DATAMART ON (TRIM(SUBSTRING(Associated_Case_ID,0,COALESCE(NULLIF(CHARINDEX(',',Associated_Case_ID),'0'),LEN(Associated_Case_ID)+1)))) = COVID_CASE_DATAMART.INV_LOCAL_ID

	  
	   --Modify the where clause to determine all the COVID Tests
               /* WHERE(Result_Cd IN
                (
                    SELECT DISTINCT 
                           lab_test_cd code_list
                    FROM nbs_srte..lab_test
                    WHERE default_condition_cd = '11065'
                    UNION
                    SELECT DISTINCT 
                           loinc_cd code_list
                    FROM nbs_srte..Loinc_condition
                    WHERE condition_cd = '11065'
                )
                      OR ((Result_Desc LIKE '%cov%'
                           OR Result_Desc LIKE '%result%')
                          AND Result_Desc NOT LIKE '%symptom%'
                          AND Result_Desc NOT LIKE '%source%'
                          AND Result_Desc NOT LIKE '%performed by:%'))*/
						  
						  
	   COMMIT TRANSACTION;
            
	  
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;
            DECLARE @ErrorNumber INT= ERROR_NUMBER();
            DECLARE @ErrorLine INT= ERROR_LINE();
            DECLARE @ErrorMessage NVARCHAR(4000)= ERROR_MESSAGE();
            DECLARE @ErrorSeverity INT= ERROR_SEVERITY();
            DECLARE @ErrorState INT= ERROR_STATE();
			SELECT ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;
            RETURN -1;
        END CATCH;
    END;
GO
